In [60]:
import pandas as pd
import datetime

In [61]:
def calculate_age(born):
    try:

        today = datetime.datetime.today()
#         selected_date = pd.to_datetime(raw_selected_date,dayfirst=True)
        # return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
        return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    except:
        print(born)

In [62]:
# Считываем общую таблицу
dpo_temp = pd.read_excel('Общая таблица слушателей ЦОПП от 29_06_22.xlsx',sheet_name='ДПО',usecols=['ФИО_именительный','Дата_рождения_получателя'])
po_temp = pd.read_excel('Общая таблица слушателей ЦОПП от 29_06_22.xlsx',sheet_name='ПО',usecols=['ФИО_именительный','Дата_рождения_получателя'])

In [63]:
all_df = pd.concat([dpo_temp,po_temp],axis=0,ignore_index=True)

In [64]:
# Конвертируем в дату
all_df['Дата_рождения_получателя'] = pd.to_datetime(all_df['Дата_рождения_получателя'],dayfirst=True,errors='coerce')

In [65]:
all_df['Текущий_возраст'] = all_df['Дата_рождения_получателя'].apply(calculate_age)

In [66]:
all_df['Возрастная_категория'] = pd.cut(all_df['Текущий_возраст'],[0,15,21,35,55,75,120],labels=['до 16 лет','16-21','22-35','36-55','56-75','старше 75 лет'])

In [67]:
all_df.to_excel('Список для проверки.xlsx',index=False)

In [68]:
out_group_df = all_df.groupby(['Возрастная_категория']).agg({'ФИО_именительный':'count'}).rename(columns={'ФИО_именительный':'Количество обучившихся'})

In [69]:
out_group_df

                      Количество обучившихся
Возрастная_категория
до 16 лет                                 24
16-21                                      1
22-35                                      5
36-55                                     18
56-75                                      5
старше 75 лет                              0

In [70]:
sum_group_df = out_group_df.sum(axis=0).to_frame().T
sum_group_df.index = ['Всего']

In [71]:
out_df = pd.concat([out_group_df,sum_group_df])

In [72]:
out_df.to_excel('Подсчет по возрастным категориям.xlsx')