In [10]:
import pandas as pd
import numpy as np
import openpyxl

In [11]:
# Создаем датафрейм для описания помещения
base_df = pd.read_excel('ЦПДЭ Электромонтаж.xlsx',sheet_name='Данные о помещении')
#TODO Проверка на количество строк
# Создаем датафрейм для оборудования
base_equip_df = pd.read_excel('ЦПДЭ Электромонтаж.xlsx',sheet_name='Данные о оборудовании')

In [12]:
base_df

,Наименование организации,Название здания в котором размещено помещение,Наименование подразделения которое использует помещение,Адрес помещения,Официальное название помещения,Тип помещения,Является ли Центром проведения демоэкзамена(ЦПДЭ) Да/Нет,Компетенция,Профессии/специальности использующие помещение Перечислить через точку с запятой,Площадь кв.м.,Вместимость чел.,Количество компьютеров,Демонстрационное оборудование Да/Нет
0,ГБПОУ Бурятский республиканский индустриальный...,Корпус №3,Отделение Энергоснабжения,"670034, Республика Бурятия, г. УланУдэ,Воронеж...",Центр проведения демонстрационного экзамена по...,Центр проведения демонстрационного экзамена,Да,Электромонтаж,"08.02.09 Монтаж, наладка и эксплуатация электр...",40,5,5,Да

In [13]:
base_equip_df

,Наименование,Технические характеристики,Количество,Примечание
0,Рабочая поверхность,Размеры : ДСП 18мм 2500х1500мм,5,NaN
1,Общее освещение,Г-1 300лк.,5,NaN
2,Освещение рабочей поверхности,Г-1 400лк.,5,NaN
3,"Электроснабжение: 1 х U=380/220В, P= 1,0 кВт.","С защитой от КЗ, перегрузки, утечки, 1 х U=380...",5,NaN
4,Покрытие пола на посту участника,фанера 6 мм,5,NaN
...,...,...,...,...
104,Общее освещение,Г-1 300лк.,1,NaN
105,"Электроснабжение: 1 х 1 ф. U=220В, P=3кВт.","С защитой от КЗ, перегрузки, утечки 1 х 1 ф. U...",2,NaN
106,Нож канцелярский + запас лезвий,"Нож строительный Biber 50113 усиленный 18 мм, ...",2,NaN
107,Ножницы,"Ножницы 19 см, Standard",2,NaN
108,Флипчарт с бумагой,Доска-флипчарт магнитно-маркерная BRAUBERG 235...,1,NaN

In [14]:
# Создаем файл для загрузки данных  по помещению
load_base_df = pd.DataFrame(columns=['Номер помещения/название площадки','Тип помещения/площадки','Компетенция','Профессия / Специальность','Площадь (кв.м)','Вместимость (человек) (int)','Демонстрационное оборудование (int 1/0)','Показывать в базе данных материально-технических ресурсов (int 1/0)'])

In [15]:
load_base_df

Empty DataFrame
Columns: [Номер помещения/название площадки, Тип помещения/площадки, Компетенция, Профессия / Специальность, Площадь (кв.м), Вместимость (человек) (int), Демонстрационное оборудование (int 1/0), Показывать в базе данных материально-технических ресурсов (int 1/0)]
Index: []

In [17]:
load_base_df['Номер помещения/название площадки'] = base_df['Официальное название помещения']
load_base_df['Тип помещения/площадки'] = base_df['Тип помещения']
load_base_df['Компетенция'] = base_df['Компетенция']
load_base_df['Профессия / Специальность'] = base_df['Профессии/специальности использующие помещение Перечислить через точку с запятой']
load_base_df['Площадь (кв.м)'] = base_df['Площадь кв.м.']
load_base_df['Вместимость (человек) (int)'] = base_df['Вместимость чел.']
load_base_df['Демонстрационное оборудование (int 1/0)'] =base_df['Демонстрационное оборудование Да/Нет']
load_base_df['Показывать в базе данных материально-технических ресурсов (int 1/0)'] = 1

In [18]:
load_base_df

,Номер помещения/название площадки,Тип помещения/площадки,Компетенция,Профессия / Специальность,Площадь (кв.м),Вместимость (человек) (int),Демонстрационное оборудование (int 1/0),Показывать в базе данных материально-технических ресурсов (int 1/0)
0,Центр проведения демонстрационного экзамена по...,Центр проведения демонстрационного экзамена,Электромонтаж,"08.02.09 Монтаж, наладка и эксплуатация электр...",40,5,Да,1

In [23]:
# Сохраняем как csv
load_base_df.to_csv('Загрузка Данные по площадке.csv',encoding='cp1251',sep=';',index=False)