In [1127]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [1128]:
name_file_data_report = 'Общая таблица слушателей ЦОПП.xlsx'

In [1129]:
df_dpo = pd.read_excel(name_file_data_report,sheet_name='ДПО')

In [1130]:
#Создаем файл

In [1131]:
# Раздел 1.3
# Количество программ по каждому виду обучения
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_type_provisional =df_dpo.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])

df_1_3=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()
# Раздел 1.3

In [1132]:
# Создаем пустую колонку 4
temp_df = pd.DataFrame(columns=['4'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)
# переименываем первую колонку
df_1_3.rename(columns={'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':'Число реализованных программ'},inplace=True)

In [1133]:
group_quantity_student_program = df_dpo.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).size()
group_quantity_student_program

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка
Повышение квалификации             26
Профессиональная переподготовка    10
dtype: int64

In [1134]:
# Добавляем колонку 5- всего слушателей
df_1_3['Всего слушателей'] = group_quantity_student_program
df_1_3

,Число реализованных программ,4,Всего слушателей
Профессиональная переподготовка,2,NaN,10
Повышение квалификации,1,NaN,26

In [1135]:
# Подсчет сетевой формы
df_dpo_network = df_dpo[df_dpo['Использование_сетевой_формы_обучения'] == 'Сетевая форма']

In [1136]:
group_quantity_network_program_provisional=df_dpo_network.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})
# Применяем к полученной серии функцию разделения по запятой. Предполо
group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ сетевая форма'] = group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [1137]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма
Профессиональная переподготовка,2,NaN,10,1
Повышение квалификации,1,NaN,26,1

In [1138]:
# Считаем число слушателей на сетевых программах
df_1_3['Численость слушателей сетевый программ']=df_dpo_network.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1139]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ
Профессиональная переподготовка,2,NaN,10,1,9
Повышение квалификации,1,NaN,26,1,3

In [1140]:
# Добавляем 4 пустых столбца
temp_df = pd.DataFrame(columns=['8','9','10','11','12'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)

In [1141]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12
Профессиональная переподготовка,2,NaN,10,1,9,NaN,NaN,NaN,NaN,NaN
Повышение квалификации,1,NaN,26,1,3,NaN,NaN,NaN,NaN,NaN

In [1142]:
# Считаем дистанционные технологии
df_dpo_distant = df_dpo[df_dpo['Использование_ЭО_или_ДОТ'] != 'Без применения ЭО или ДОТ']
group_quantity_distant = df_dpo_distant.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. 
group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ ЭО и ДОТ'] = group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [1143]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ
Профессиональная переподготовка,2,NaN,10,1,9,NaN,NaN,NaN,NaN,NaN,1
Повышение квалификации,1,NaN,26,1,3,NaN,NaN,NaN,NaN,NaN,1

In [1144]:
#Считаем количество слушателей
df_1_3['Численность слушателей ЭО И ДОТ'] = df_dpo_distant.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1145]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ
Профессиональная переподготовка,2,NaN,10,1,9,NaN,NaN,NaN,NaN,NaN,1,9
Повышение квалификации,1,NaN,26,1,3,NaN,NaN,NaN,NaN,NaN,1,3

In [1146]:
# Считаем только тех кто учился на программах исключительно ЭО и ДОТ
df_dpo_distant_only_dot = df_dpo_distant[df_dpo_distant['Использование_ЭО_или_ДОТ'] == 'Исключительно с ЭО ли ДОТ' ]
df_1_3['Численность слушателей только ЭО и ДОТ'] = df_dpo_distant_only_dot.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1147]:
finish_df_1_3 = df_1_3.reset_index()

In [1148]:
finish_df_1_3

,index,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ,Численность слушателей только ЭО и ДОТ
0,Профессиональная переподготовка,2,NaN,10,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN
1,Повышение квалификации,1,NaN,26,1,3,NaN,NaN,NaN,NaN,NaN,1,3,NaN

In [1149]:
finish_df_1_3.columns= ['Наименование образовательных программ','Число реализованных образовательных программ всего,единиц','из них прошли профессионально-общественную аккредитацию',
                'Всего слушателей, обученных по программам, человек','число программ(из графы 3) реализованных с использованием сетевой формы',
                'численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего',
                 'в том числе(из графы 7) с использованием ресурсов иностранных организаций','общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы',
                 'из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций','число организаций с которыми заключены договоры  на реализацию образовательных программ с использованием сетевой формы',
                'в том числе(из графы 11) число иностранных организаций','число программ(из графы 3),реализованных с применением ЭО или ДОТ','Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ',
                 'в том числе(из графы 14) с применением исключительно ЭО и ДОТ']

In [1150]:
finish_df_1_3

,Наименование образовательных программ,"Число реализованных образовательных программ всего,единиц",из них прошли профессионально-общественную аккредитацию,"Всего слушателей, обученных по программам, человек",число программ(из графы 3) реализованных с использованием сетевой формы,численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего,в том числе(из графы 7) с использованием ресурсов иностранных организаций,общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы,из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций,число организаций с которыми заключены договоры на реализацию образовательных программ с использованием сетевой формы,в том числе(из графы 11) число иностранных организаций,"число программ(из графы 3),реализованных с применением ЭО или ДОТ",Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ,в том числе(из графы 14) с применением исключительно ЭО и ДОТ
0,Профессиональная переподготовка,2,NaN,10,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN
1,Повышение квалификации,1,NaN,26,1,3,NaN,NaN,NaN,NaN,NaN,1,3,NaN

In [1151]:
# Создаем файл excel
wb = openpyxl.Workbook()
# Создаем лист раздела 1.3
wb.create_sheet(title='Раздел 1.3',index=0)
wb.create_sheet(title='Раздел 2.1',index=1)
wb.create_sheet(title='Раздел 2.2',index=2)
wb.create_sheet(title='Раздел 2.3.1',index=3)
wb.create_sheet(title='Раздел 2.3.2',index=4)
wb.create_sheet(title='Раздел 2.4',index=5)
wb.create_sheet(title='Раздел 2.5',index=6)

In [1152]:
for r in dataframe_to_rows(finish_df_1_3, index=False, header=True):
    wb['Раздел 1.3'].append(r)

In [1153]:
# Раздел 2.4

In [1154]:
# Создаем дополнительную числовую колонку где каждое значение это 1, для удобства агрегирования
df_2_4 = df_dpo.copy()
# Добавляем колонку с 1
df_2_4['for_counting'] = 1

In [1155]:
#Считаем общее количество
all_counting_age_category=df_2_4.groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Всего слушателей'})

In [1156]:
all_counting_age_category

                          Всего слушателей
Возрастная_категория_1ПК
30-34                                    4
35-39                                    2
40-44                                    7
45-49                                    8
50-54                                    5
55-59                                    3
60-64                                    6
моложе 25 лет                            1

In [1157]:
df_2_4_all = all_counting_age_category.swapaxes(1,0)

In [1158]:
df_2_4_all

Возрастная_категория_1ПК,30-34,35-39,40-44,45-49,50-54,55-59,60-64,моложе 25 лет
Всего слушателей,4,2,7,8,5,3,6,1

In [1159]:
# Считаем женщин
df_2_4_women=df_2_4[df_2_4['Пол_получателя']=='Жен'].groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Женщин Всего'}).swapaxes(1,0)

In [1160]:
df_2_4_women

Возрастная_категория_1ПК,30-34,35-39,40-44,45-49,50-54,55-59,60-64,моложе 25 лет
Женщин Всего,3,2,7,6,5,3,1,1

In [1161]:
df_2_4_all =pd.concat([df_2_4_all,df_2_4_women],axis=0)

In [1162]:
df_2_4_all

Возрастная_категория_1ПК,30-34,35-39,40-44,45-49,50-54,55-59,60-64,моложе 25 лет
Всего слушателей,4,2,7,8,5,3,6,1
Женщин Всего,3,2,7,6,5,3,1,1

In [1163]:
finish_df2_4=pd.pivot_table(df_dpo,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка','Пол_получателя'],
              columns=['Возрастная_категория_1ПК'],
               values=['ФИО_именительный'],
              aggfunc='count')

In [1164]:
finish_df2_4

                                                                  ФИО_именительный  \
Возрастная_категория_1ПК                                                     30-34
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен                         2.0
                                                   Муж                         1.0
Профессиональная переподготовка                    Жен                         1.0
                                                   Муж                         NaN

                                                                               \
Возрастная_категория_1ПК                                          35-39 40-44
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   6.0
                                                   Муж              NaN   NaN
Профессиональная переподготовка                    Жен              NaN   1.0
                                                   Муж              NaN   NaN

                                                                               \
Возрастная_категория_1ПК                                          45-49 50-54
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              3.0   3.0
                                                   Муж              2.0   NaN
Профессиональная переподготовка                    Жен              3.0   2.0
                                                   Муж              NaN   NaN

                                                                               \
Возрастная_категория_1ПК                                          55-59 60-64
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   1.0
                                                   Муж              NaN   3.0
Профессиональная переподготовка                    Жен              1.0   NaN
                                                   Муж              NaN   2.0


Возрастная_категория_1ПК                                          моложе 25 лет
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен                      1.0
                                                   Муж                      NaN
Профессиональная переподготовка                    Жен                      NaN
                                                   Муж                      NaN

In [1165]:
finish_df2_4.columns =finish_df2_4.columns.droplevel()
finish_df2_4.index = finish_df2_4.index.droplevel()

In [1166]:
finish_df2_4

Возрастная_категория_1ПК,30-34,35-39,40-44,45-49,50-54,55-59,60-64,моложе 25 лет
Пол_получателя,,,,,,,,
Жен,2.0,2.0,6.0,3.0,3.0,2.0,1.0,1.0
Муж,1.0,NaN,NaN,2.0,NaN,NaN,3.0,NaN
Жен,1.0,NaN,1.0,3.0,2.0,1.0,NaN,NaN
Муж,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [1167]:
finish_df2_4=pd.concat([df_2_4_all,finish_df2_4])

In [1168]:
finish_df2_4

Возрастная_категория_1ПК,30-34,35-39,40-44,45-49,50-54,55-59,60-64,моложе 25 лет
Всего слушателей,4.0,2.0,7.0,8.0,5.0,3.0,6.0,1.0
Женщин Всего,3.0,2.0,7.0,6.0,5.0,3.0,1.0,1.0
Жен,2.0,2.0,6.0,3.0,3.0,2.0,1.0,1.0
Муж,1.0,NaN,NaN,2.0,NaN,NaN,3.0,NaN
Жен,1.0,NaN,1.0,3.0,2.0,1.0,NaN,NaN
Муж,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [1169]:
# Переименовываем индекс, чтобы было более понятно
finish_df2_4.index.name = 'Наименование показателей'
finish_df2_4.index= ['Численность слушателей Всего','из них Женщин','Повышение квалификации Женщины','Повышение квалификации Мужчины',
                     'Профессиональная переподготовка Женщины','Профессиональная переподготовка Мужчины',]

In [1170]:
finish_df2_4.to_excel('2.4.xlsx')

In [1171]:
finish_df2_4.index

Index(['Численность слушателей Всего', 'из них Женщин',
       'Повышение квалификации Женщины', 'Повышение квалификации Мужчины',
       'Профессиональная переподготовка Женщины',
       'Профессиональная переподготовка Мужчины'],
      dtype='object')

In [1172]:
#Сохраняем в лист Раздел 2.4
for r in dataframe_to_rows(finish_df2_4, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.4'].append(r)

In [1173]:
#Добавляем колонки

In [1174]:
#раздел 2.5 Инвалиды
df_dpo_2_5 = df_dpo.copy()
df_dpo_2_5['for_counting'] = 1
df_dpo_2_5 = df_dpo_2_5[df_dpo_2_5['Сведения_об_ограничении_возможностей_здоровья'] != 'нет ОВЗ']

In [1175]:
df_dpo_2_5

,Порядковый_номер_группы,Вид_документа,Статус_документа,Подтверждение_утраты,Подтверждение_обмена,Подтверждение_уничтожения,Серия_документа,Номер_документа,Дата_выдачи_документа,Регистрационный_номер,...,Использование_сетевой_формы_обучения,Использование_ЭО_или_ДОТ,Модульная_программа_с_вариативным_выбором,Вид_экономической\nдеятельности_дополнительной_профессиональной_программы,Для_освоения_ДПП_требуется_наличие_ВО,Номер_приказа_о_зачислении,Номер_приказа_об_отчислении,Текущий_возраст,Возрастная_категория_1ПК,for_counting
0,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862269,2022-01-28,768,...,Нет,Без применения ЭО или ДОТ,да,образование,требуется ВО,3,4,45,45-49,1
1,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862270,2022-01-28,769,...,Нет,Без применения ЭО или ДОТ,да,образование,требуется ВО,3,4,60,60-64,1
2,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862271,2022-01-28,770,...,Нет,Без применения ЭО или ДОТ,да,образование,требуется ВО,3,4,34,30-34,1

In [1176]:
df_2_5_all = df_dpo_2_5.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).agg({'ФИО_именительный':'count'}).rename(columns={'ФИО_именительный':'Всего'}).swapaxes(1,0)

In [1177]:
finish_df2_5=pd.pivot_table(df_dpo_2_5,
              index=['Сведения_об_ограничении_возможностей_здоровья'],
              columns=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1178]:
finish_df2_5

                                                                                                           for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Сведения_об_ограничении_возможностей_здоровья
инвалид                                                                                                             2.0
лицо с ОВЗ                                                                                                          NaN


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Профессиональная переподготовка
Сведения_об_ограничении_возможностей_здоровья
инвалид                                                                                                                      NaN
лицо с ОВЗ                                                                                                                   1.0

In [1179]:
finish_df2_5.columns = finish_df2_5.columns.droplevel(0)

In [1180]:
# Соединяем
finish_df2_5 = pd.concat([df_2_5_all,finish_df2_5])

In [1181]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Повышение квалификации,Профессиональная переподготовка
Всего,2.0,1.0
инвалид,2.0,NaN
лицо с ОВЗ,NaN,1.0

In [1182]:
# заполняем пропуски нулями
finish_df2_5.fillna(0,inplace=True)

In [1183]:

#создаем колонку всего
finish_df2_5['Всего'] = finish_df2_5['Повышение квалификации'] + finish_df2_5['Профессиональная переподготовка']

In [1184]:
finish_df2_5.index

Index(['Всего', 'инвалид', 'лицо с ОВЗ'], dtype='object')

In [1185]:
# Меняем местами колонки
finish_df2_5 = finish_df2_5.reindex(columns=['Всего','Повышение квалификации', 'Профессиональная переподготовка'])

In [1186]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Всего,Повышение квалификации,Профессиональная переподготовка
Всего,3.0,2.0,1.0
инвалид,2.0,2.0,0.0
лицо с ОВЗ,1.0,0.0,1.0

In [1187]:
# Считаем колонку с женщинами инвалидами
df_2_5_women =df_dpo_2_5[df_dpo_2_5['Пол_получателя']=='Жен'].groupby('Сведения_об_ограничении_возможностей_здоровья').agg({'for_counting':'sum'})

In [1188]:
df_2_5_women.columns =['Количество женщин']

In [1189]:
sum_woman = df_2_5_women['Количество женщин'].sum()

In [1190]:
df_2_5_women_all = pd.DataFrame(data=sum_woman,index=['Всего женщин инвалидов'],columns=['Количество женщин'])

In [1191]:
df_2_5_women_all

                        Количество женщин
Всего женщин инвалидов                  2

In [1192]:
df_2_5_women

                                               Количество женщин
Сведения_об_ограничении_возможностей_здоровья
инвалид                                                        1
лицо с ОВЗ                                                     1

In [1193]:
# Создаем столбец с женщинами инвалидами
df_2_5_women_all = pd.concat([df_2_5_women_all,df_2_5_women])

In [1194]:
df_2_5_women_all.dtypes

Количество женщин    int64
dtype: object

In [1195]:
df_2_5_women_all=df_2_5_women_all.astype(float)

In [1196]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Всего,Повышение квалификации,Профессиональная переподготовка
Всего,3.0,2.0,1.0
инвалид,2.0,2.0,0.0
лицо с ОВЗ,1.0,0.0,1.0

In [1197]:
lst_df_2_5_women_all= df_2_5_women_all['Количество женщин'].to_list()

In [1198]:
lst_df_2_5_women_all

[2.0, 1.0, 1.0]

In [1199]:
# Добавляем столбец с женщинами

finish_df2_5['Женщины инвалиды'] = lst_df_2_5_women_all

In [1200]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Всего,Повышение квалификации,Профессиональная переподготовка,Женщины инвалиды
Всего,3.0,2.0,1.0,2.0
инвалид,2.0,2.0,0.0,1.0
лицо с ОВЗ,1.0,0.0,1.0,1.0

In [1201]:
finish_df2_5 = finish_df2_5.replace(0.0,np.NaN)

In [1202]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Всего,Повышение квалификации,Профессиональная переподготовка,Женщины инвалиды
Всего,3.0,2.0,1.0,2.0
инвалид,2.0,2.0,NaN,1.0
лицо с ОВЗ,1.0,NaN,1.0,1.0

In [1203]:
finish_df2_5.to_excel('2.5.xlsx')

In [1204]:
#Сохраняем в лист Раздел 2.5
for r in dataframe_to_rows(finish_df2_5, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.5'].append(r)

In [1205]:
wb.save('Часть отчета 1-ПК.xlsx')