In [3559]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import Font
import time

In [3560]:
name_file_data_report = 'Общая таблица слушателей ЦОПП.xlsx' 
path_to_end_folder_report = 'data'

In [3561]:
df_dpo = pd.read_excel(name_file_data_report,sheet_name='ДПО')

In [3562]:
#Создаем шрифт которым будем выделять названия таблиц
font_name_table = Font(name='Arial Black',size=15,italic=True)

In [3563]:
# Раздел 1.3
# Количество программ по каждому виду обучения
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_type_provisional =df_dpo.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])

df_1_3=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()
# Раздел 1.3

In [3564]:
# Создаем пустую колонку 4
temp_df = pd.DataFrame(columns=['4'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)
# переименываем первую колонку
df_1_3.rename(columns={'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':'Число реализованных программ'},inplace=True)

In [3565]:
group_quantity_student_program = df_dpo.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).size()
group_quantity_student_program

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка
Повышение квалификации             27
Профессиональная переподготовка     9
dtype: int64

In [3566]:
# Добавляем колонку 5- всего слушателей
df_1_3['Всего слушателей'] = group_quantity_student_program
df_1_3

,Число реализованных программ,4,Всего слушателей
Повышение квалификации,2,NaN,27
Профессиональная переподготовка,1,NaN,9

In [3567]:
# Подсчет сетевой формы
df_dpo_network = df_dpo[df_dpo['Использование_сетевой_формы_обучения'] == 'Сетевая форма']

In [3568]:
group_quantity_network_program_provisional=df_dpo_network.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})
# Применяем к полученной серии функцию разделения по запятой. Предполо
group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ сетевая форма'] = group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [3569]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма
Повышение квалификации,2,NaN,27,1
Профессиональная переподготовка,1,NaN,9,1

In [3570]:
# Считаем число слушателей на сетевых программах
df_1_3['Численость слушателей сетевый программ']=df_dpo_network.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [3571]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ
Повышение квалификации,2,NaN,27,1,3
Профессиональная переподготовка,1,NaN,9,1,9

In [3572]:
# Добавляем 4 пустых столбца
temp_df = pd.DataFrame(columns=['8','9','10','11','12'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)

In [3573]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN

In [3574]:
# Считаем дистанционные технологии
df_dpo_distant = df_dpo[df_dpo['Использование_ЭО_или_ДОТ'] != 'Без применения ЭО или ДОТ']
group_quantity_distant = df_dpo_distant.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. 
group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ ЭО и ДОТ'] = group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [3575]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1

In [3576]:
#Считаем количество слушателей
df_1_3['Численность слушателей ЭО И ДОТ'] = df_dpo_distant.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [3577]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9

In [3578]:
# Считаем только тех кто учился на программах исключительно ЭО и ДОТ
df_dpo_distant_only_dot = df_dpo_distant[df_dpo_distant['Использование_ЭО_или_ДОТ'] == 'Исключительно с ЭО ли ДОТ' ]
df_1_3['Численность слушателей только ЭО и ДОТ'] = df_dpo_distant_only_dot.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [3579]:
finish_df_1_3 = df_1_3.reset_index()

In [3580]:
finish_df_1_3

,index,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ,Численность слушателей только ЭО и ДОТ
0,Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27,1.0
1,Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN

In [3581]:
finish_df_1_3.columns= ['Наименование образовательных программ','Число реализованных образовательных программ всего,единиц','из них прошли профессионально-общественную аккредитацию',
                'Всего слушателей, обученных по программам, человек','число программ(из графы 3) реализованных с использованием сетевой формы',
                'численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего',
                 'в том числе(из графы 7) с использованием ресурсов иностранных организаций','общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы',
                 'из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций','число организаций с которыми заключены договоры  на реализацию образовательных программ с использованием сетевой формы',
                'в том числе(из графы 11) число иностранных организаций','число программ(из графы 3),реализованных с применением ЭО или ДОТ','Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ',
                 'в том числе(из графы 14) с применением исключительно ЭО и ДОТ']

In [3582]:
finish_df_1_3

,Наименование образовательных программ,"Число реализованных образовательных программ всего,единиц",из них прошли профессионально-общественную аккредитацию,"Всего слушателей, обученных по программам, человек",число программ(из графы 3) реализованных с использованием сетевой формы,численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего,в том числе(из графы 7) с использованием ресурсов иностранных организаций,общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы,из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций,число организаций с которыми заключены договоры на реализацию образовательных программ с использованием сетевой формы,в том числе(из графы 11) число иностранных организаций,"число программ(из графы 3),реализованных с применением ЭО или ДОТ",Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ,в том числе(из графы 14) с применением исключительно ЭО и ДОТ
0,Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27,1.0
1,Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN

In [3583]:
# Создаем файл excel
wb = openpyxl.Workbook()
# Создаем лист раздела 1.3
wb.create_sheet(title='Раздел 1.3',index=0)
wb.create_sheet(title='Раздел 2.1',index=1)
wb.create_sheet(title='Раздел 2.1 Строки 28,29,30',index=2)
wb.create_sheet(title='Раздел 2.2',index=3)
wb.create_sheet(title='Раздел 2.3.1',index=4)
wb.create_sheet(title='Раздел 2.3.2',index=5)
wb.create_sheet(title='Раздел 2.4',index=6)
wb.create_sheet(title='Раздел 2.5',index=7)

In [3584]:
for r in dataframe_to_rows(finish_df_1_3, index=False, header=True):
    wb['Раздел 1.3'].append(r)

In [3585]:
# Раздел 2.4

In [3586]:
# Создаем дополнительную числовую колонку где каждое значение это 1, для удобства агрегирования
df_2_4 = df_dpo.copy()
# Добавляем колонку с 1
df_2_4['for_counting'] = 1

In [3587]:
#Считаем общее количество
all_counting_age_category=df_2_4.groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Всего слушателей'})

In [3588]:
all_counting_age_category

                          Всего слушателей
Возрастная_категория_1ПК
30-34                                    4
35-39                                    2
40-44                                    7
45-49                                    8
50-54                                    5
55-59                                    3
60-64                                    6

In [3589]:
df_2_4_all = all_counting_age_category.swapaxes(1,0)

In [3590]:
df_2_4_all

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей              4      2      7      8      5      3      6

In [3591]:
# Считаем женщин
df_2_4_women=df_2_4[df_2_4['Пол_получателя']=='Жен'].groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Женщин Всего'}).swapaxes(1,0)

In [3592]:
df_2_4_women

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Женщин Всего                  3      2      7      6      5      3      1

In [3593]:
df_2_4_all =pd.concat([df_2_4_all,df_2_4_women],axis=0)

In [3594]:
df_2_4_all

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей              4      2      7      8      5      3      6
Женщин Всего                  3      2      7      6      5      3      1

In [3595]:
finish_df2_4=pd.pivot_table(df_dpo,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка','Пол_получателя'],
              columns=['Возрастная_категория_1ПК'],
               values=['ФИО_именительный'],
              aggfunc='count')

In [3596]:
finish_df2_4

                                                                  ФИО_именительный  \
Возрастная_категория_1ПК                                                     30-34
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен                         2.0
                                                   Муж                         1.0
Профессиональная переподготовка                    Жен                         1.0
                                                   Муж                         NaN

                                                                               \
Возрастная_категория_1ПК                                          35-39 40-44
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   6.0
                                                   Муж              NaN   NaN
Профессиональная переподготовка                    Жен              NaN   1.0
                                                   Муж              NaN   NaN

                                                                               \
Возрастная_категория_1ПК                                          45-49 50-54
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              4.0   3.0
                                                   Муж              2.0   NaN
Профессиональная переподготовка                    Жен              2.0   2.0
                                                   Муж              NaN   NaN


Возрастная_категория_1ПК                                          55-59 60-64
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   1.0
                                                   Муж              NaN   3.0
Профессиональная переподготовка                    Жен              1.0   NaN
                                                   Муж              NaN   2.0

In [3597]:
finish_df2_4.columns =finish_df2_4.columns.droplevel()
finish_df2_4.index = finish_df2_4.index.droplevel()

In [3598]:
finish_df2_4

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Пол_получателя
Жен                         2.0    2.0    6.0    4.0    3.0    2.0    1.0
Муж                         1.0    NaN    NaN    2.0    NaN    NaN    3.0
Жен                         1.0    NaN    1.0    2.0    2.0    1.0    NaN
Муж                         NaN    NaN    NaN    NaN    NaN    NaN    2.0

In [3599]:
finish_df2_4=pd.concat([df_2_4_all,finish_df2_4])

In [3600]:
finish_df2_4

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей            4.0    2.0    7.0    8.0    5.0    3.0    6.0
Женщин Всего                3.0    2.0    7.0    6.0    5.0    3.0    1.0
Жен                         2.0    2.0    6.0    4.0    3.0    2.0    1.0
Муж                         1.0    NaN    NaN    2.0    NaN    NaN    3.0
Жен                         1.0    NaN    1.0    2.0    2.0    1.0    NaN
Муж                         NaN    NaN    NaN    NaN    NaN    NaN    2.0

In [3601]:
# Переименовываем индекс, чтобы было более понятно
finish_df2_4.index.name = 'Наименование показателей'
finish_df2_4.index= ['Численность слушателей Всего','из них Женщин','Повышение квалификации Женщины','Повышение квалификации Мужчины',
                     'Профессиональная переподготовка Женщины','Профессиональная переподготовка Мужчины',]

In [3602]:
finish_df2_4.to_excel('2.4.xlsx')

In [3603]:
finish_df2_4.index

Index(['Численность слушателей Всего', 'из них Женщин',
       'Повышение квалификации Женщины', 'Повышение квалификации Мужчины',
       'Профессиональная переподготовка Женщины',
       'Профессиональная переподготовка Мужчины'],
      dtype='object')

In [3604]:
#Сохраняем в лист Раздел 2.4
for r in dataframe_to_rows(finish_df2_4, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.4'].append(r)

In [3605]:
#раздел 2.5 Инвалиды
df_dpo_2_5 = df_dpo.copy()
df_dpo_2_5['for_counting'] = 1
df_dpo_2_5 = df_dpo_2_5[df_dpo_2_5['Сведения_об_ограничении_возможностей_здоровья'] != 'нет ОВЗ']

In [3606]:
df_dpo_2_5

,Порядковый_номер_группы,Вид_документа,Статус_документа,Подтверждение_утраты,Подтверждение_обмена,Подтверждение_уничтожения,Серия_документа,Номер_документа,Дата_выдачи_документа,Регистрационный_номер,...,Использование_сетевой_формы_обучения,Использование_ЭО_или_ДОТ,Модульная_программа_с_вариативным_выбором,Вид_экономической_деятельности_дополнительной_профессиональной_программы,Для_освоения_ДПП_требуется_наличие_ВО,Номер_приказа_о_зачислении,Номер_приказа_об_отчислении,Текущий_возраст,Возрастная_категория_1ПК,for_counting
0,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862269,2022-01-28,768,...,Сетевая форма,С применением ЭО или ДОТ,да,торговля оптовая и розничная; ремонт автотранс...,не требуется ВО,3,4,45,45-49,1
2,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862271,2022-01-28,770,...,Сетевая форма,С применением ЭО или ДОТ,да,образование,требуется ВО,3,4,34,30-34,1
3,NaN,Диплом о профессиональной переподготовке,Оригинал,Нет,Нет,Нет,нет,32413862269,2022-01-28,768,...,Сетевая форма,С применением ЭО или ДОТ,нет,"водоснабжение, водоотведение, организация сбор...",требуется ВО,3,4,45,45-49,1
27,NaN,Удостоверение о повышении квалификации,Оригинал,Нет,Нет,Нет,нет,32413862284,2022-01-28,783,...,NaN,NaN,NaN,образование,NaN,3,4,42,40-44,1

In [3607]:
df_2_5_all = df_dpo_2_5.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).agg({'ФИО_именительный':'count'}).rename(columns={'ФИО_именительный':'Всего'}).swapaxes(1,0)

In [3608]:
finish_df2_5=pd.pivot_table(df_dpo_2_5,
              index=['Сведения_об_ограничении_возможностей_здоровья'],
              columns=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3609]:
finish_df2_5

                                                                                                           for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Сведения_об_ограничении_возможностей_здоровья
инвалид                                                                                                             1.0
лицо с ОВЗ                                                                                                          2.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Профессиональная переподготовка
Сведения_об_ограничении_возможностей_здоровья
инвалид                                                                                                                      1.0
лицо с ОВЗ                                                                                                                   NaN

In [3610]:
finish_df2_5.columns = finish_df2_5.columns.droplevel(0)

In [3611]:
# Соединяем
finish_df2_5 = pd.concat([df_2_5_all,finish_df2_5])

In [3612]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Повышение квалификации,Профессиональная переподготовка
Всего,3.0,1.0
инвалид,1.0,1.0
лицо с ОВЗ,2.0,NaN

In [3613]:
# заполняем пропуски нулями
finish_df2_5.fillna(0,inplace=True)

In [3614]:
# Необходимо как то проверять наличие колонок, ведь не факт что в таблице будет повышение квалификации или проф подготовка
#создаем колонку всего

#Проверяем количество колонок
# Заполняем нулями чтобы корректно слаживалось
if len(finish_df2_5.columns) == 1:
    finish_df2_5['Всего слушателей по всем категориям'] = finish_df2_5.iloc[:,0]
elif len(finish_df2_5.columns):
    finish_df2_5['Всего слушателей по всем категориям'] = finish_df2_5.iloc[:,0] + finish_df2_5.iloc[:,1]

In [3615]:
finish_df2_5.index

Index(['Всего', 'инвалид', 'лицо с ОВЗ'], dtype='object')

In [3616]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Повышение квалификации,Профессиональная переподготовка,Всего слушателей по всем категориям
Всего,3.0,1.0,4.0
инвалид,1.0,1.0,2.0
лицо с ОВЗ,2.0,0.0,2.0

In [3617]:
# Считаем колонку с женщинами инвалидами
df_2_5_women =df_dpo_2_5[df_dpo_2_5['Пол_получателя']=='Жен'].groupby('Сведения_об_ограничении_возможностей_здоровья').agg({'for_counting':'sum'})

In [3618]:
df_2_5_women.columns =['Количество женщин']

In [3619]:
sum_woman = df_2_5_women['Количество женщин'].sum()

if sum_woman == 0:
    # т.е если женщин инвалидов нет, то создаем датафрейм с пустыми значениями
    df_2_5_women_all = pd.DataFrame(data=[np.NaN,np.NaN,np.NaN],index=['Всего','инвалид','Лицо с ОВЗ'],columns=['Количество женщин'])
else:
    # в противном случае, считаем общее количество женщин-инвалидов. Создаем маленький датафрейм 
    df_2_5_women_all = pd.DataFrame(data=sum_woman,index=['Всего женщин инвалидов'],columns=['Количество женщин'])
    # Объединяем столбы с женщинами инвалидами
    df_2_5_women_all = pd.concat([df_2_5_women_all,df_2_5_women])

In [3620]:
finish_df2_5 = finish_df2_5.astype(float)

In [3621]:
finish_df2_5 = finish_df2_5.replace(0.0,np.NaN)

In [3622]:
finish_df2_5

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Повышение квалификации,Профессиональная переподготовка,Всего слушателей по всем категориям
Всего,3.0,1.0,4.0
инвалид,1.0,1.0,2.0
лицо с ОВЗ,2.0,NaN,2.0

In [3623]:
finish_df2_5.to_excel('2.5.xlsx')

In [3624]:
#Сохраняем в лист Раздел 2.5
for r in dataframe_to_rows(finish_df2_5, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.5'].append(r)

In [3625]:
#Добавляем в раздел 2.5 информацию о женщинах
for r in dataframe_to_rows(df_2_5_women_all, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.5'].append(r)

In [3626]:
# раздел 2.1  Сведения о численности слушателей обученных по доп профессиональным программам
df_2_1 = df_dpo.copy()
# Создаем колонку для удобства подсчета
df_2_1['for_counting'] = 1.0

In [3627]:
df_2_1_pkpo = pd.pivot_table(df_2_1,index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3628]:
df_2_1_pkpo

                                                                                                                                       for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Повышение квалификации
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       17.0
                                                                                         руководитель                                           1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0
                                                                                         руководитель                                           1.0
студент СПО                                        Общеобразовательная организация       руководитель                                           1.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Профессиональная переподготовка
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                 NaN
                                                   Дополнительное образование            не руководитель                                                 NaN
                                                   Общеобразовательная организация       не руководитель                                                 8.0
                                                                                         руководитель                                                    1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
студент СПО                                        Общеобразовательная организация       руководитель                                                    NaN

In [3629]:
#Удаляем мультиколонку for counting
df_2_1_pkpo.columns = df_2_1_pkpo.columns.droplevel()

In [3630]:
# заполняем NaN нулями чтобы просуммировать
df_2_1_pkpo.fillna(0.0,inplace=True)

In [3631]:
# Считаем в зависимости от количества колонок
if len(df_2_1_pkpo.columns) == 1:
    df_2_1_pkpo['Всего слушателей_temp']= df_2_1_pkpo.iloc[:,0]
else:
    df_2_1_pkpo['Всего слушателей_temp'] = df_2_1_pkpo['Повышение квалификации'] + df_2_1_pkpo['Профессиональная переподготовка']

In [3632]:
df_2_1_pkpo

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Повышение квалификации  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                         2.0
                                                                                         руководитель                                            1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                         2.0
                                                   Дополнительное образование            не руководитель                                         1.0
                                                   Общеобразовательная организация       не руководитель                                        17.0
                                                                                         руководитель                                            1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                         1.0
                                                                                         руководитель                                            1.0
студент СПО                                        Общеобразовательная организация       руководитель                                            1.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Профессиональная переподготовка  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                  0.0
                                                                                         руководитель                                                     0.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                  0.0
                                                   Дополнительное образование            не руководитель                                                  0.0
                                                   Общеобразовательная организация       не руководитель                                                  8.0
                                                                                         руководитель                                                     1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                  0.0
                                                                                         руководитель                                                     0.0
студент СПО                                        Общеобразовательная организация       руководитель                                                     0.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Всего слушателей_temp
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       25.0
                                                                                         руководитель                                           2.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0
                                                                                         руководитель                                           1.0
студент СПО                                        Общеобразовательная организация       руководитель                                           1.0

In [3633]:
# Перемещаем колонку Всего слушателей
df_2_1_pkpo.insert(0,'Всего слушателей',df_2_1_pkpo['Всего слушателей_temp'])

In [3634]:
# Удаляем временную колонку
df_2_1_pkpo.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [3635]:
df_2_1_pkpo=df_2_1_pkpo.reset_index()

In [3636]:
wb['Раздел 2.1'][f'A1'] = 'Слушателей обученных по дополнительным профессиональным программам'
wb['Раздел 2.1'][f'A1'].font = font_name_table

In [3637]:
#Сохраняем датафрейм с подсчетом по пк и пп в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_pkpo, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [3638]:
# Считаем слушателей по модульным программам с вариативным выбором
df_2_1_module_pkpo_yes = df_2_1[df_2_1['Модульная_программа_с_вариативным_выбором'] == 'да']

In [3639]:
df_2_1_module_pkpo = pd.pivot_table(df_2_1_module_pkpo_yes,
                                    index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3640]:
# Удаляем мультиколонку
df_2_1_module_pkpo.columns = df_2_1_module_pkpo.columns.droplevel()

In [3641]:
# Заполняем NaN
df_2_1_module_pkpo.fillna(0.0,inplace=True)

In [3642]:
# Считаем в зависимости от количества колонок
if len(df_2_1_module_pkpo.columns) == 1:
    df_2_1_module_pkpo['Всего слушателей_temp']= df_2_1_module_pkpo.iloc[:,0]
else:
    df_2_1_module_pkpo['Всего слушателей_temp'] = df_2_1_module_pkpo['Повышение квалификации'] + df_2_1_module_pkpo['Профессиональная переподготовка']

In [3643]:
df_2_1_module_pkpo

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Повышение квалификации  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                         2.0
                                                                                         руководитель                                            1.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Всего слушателей_temp
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0

In [3644]:
# перемещаем колонку всего слушателй_temp
df_2_1_module_pkpo.insert(0,'Всего слушателей',df_2_1_module_pkpo['Всего слушателей_temp'])

In [3645]:
# Удаляем лишнюю колонку
df_2_1_module_pkpo.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [3646]:
df_2_1_module_pkpo = df_2_1_module_pkpo.reset_index()

In [3647]:
# получаем максимальную строку для модульной части
max_row_module = wb['Раздел 2.1'].max_row

In [3648]:
wb['Раздел 2.1'][f'A{max_row_module+2}'] = 'Обучено слушателей по модульным программам с вариативным выбором'
wb['Раздел 2.1'][f'A{max_row_module+2}'].font = font_name_table

In [3649]:
#Сохраняем датафрейм с подсчетом слушателей модульных программ  пк и пп  в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_module_pkpo, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [3650]:
# Создаем промежуток
max_row_women = wb['Раздел 2.1'].max_row

In [3651]:
wb['Раздел 2.1'][f'A{max_row_women+2}'] = 'Обучено женщин слушателей'
wb['Раздел 2.1'][f'A{max_row_women+2}'].font = font_name_table

In [3652]:
# Считаем женщин
df_2_1_women_yes = df_2_1[df_2_1['Пол_получателя'] == 'Жен']

In [3653]:
df_2_1_women = pd.pivot_table(df_2_1_women_yes,
                                    index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3654]:
df_2_1_women

                                                                                                                                       for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Повышение квалификации
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        1.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       14.0
                                                                                         руководитель                                           1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Профессиональная переподготовка
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                 NaN
                                                   Дополнительное образование            не руководитель                                                 NaN
                                                   Общеобразовательная организация       не руководитель                                                 6.0
                                                                                         руководитель                                                    1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                 NaN

In [3655]:

# Удаляем мультиколонку
df_2_1_women.columns = df_2_1_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_women.fillna(0.0,inplace=True)

In [3656]:
# Считаем в зависимости от количества колонок
if len(df_2_1_women.columns) == 1:
    df_2_1_women['Всего слушателей_temp']= df_2_1_women.iloc[:,0]
else:
    df_2_1_women['Всего слушателей_temp'] = df_2_1_women['Повышение квалификации'] + df_2_1_women['Профессиональная переподготовка']

In [3657]:
# перемещаем колонку всего слушателй_temp
df_2_1_women.insert(0,'Всего женщин-слушателей',df_2_1_women['Всего слушателей_temp'])

In [3658]:
# Удаляем лишнюю колонку
df_2_1_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [3659]:
df_2_1_women = df_2_1_women.reset_index()

In [3660]:
#Сохраняем датафрейм с подсчетом женщин  по пк и пп в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_women, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [3661]:
# Устанавливаем размер колонок раздела 2.1
wb['Раздел 2.1'].column_dimensions['A'].width = 50
wb['Раздел 2.1'].column_dimensions['B'].width = 50
wb['Раздел 2.1'].column_dimensions['C'].width = 30
wb['Раздел 2.1'].column_dimensions['D'].width = 30
wb['Раздел 2.1'].column_dimensions['E'].width = 30
wb['Раздел 2.1'].column_dimensions['F'].width = 30

In [3662]:
# Создаем датафрейм для строк 28 и 29 по обычным программам

In [3663]:
# Создаем список категорий слушателей которых нужно посчитать
lst_cat = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','другое']

In [3664]:

df_2_1_28_29_base = df_2_1.loc[df_2_1['Категория_слушателя'].isin(lst_cat)]

In [3665]:
df_2_1_28_29 = pd.pivot_table(df_2_1_28_29_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3666]:
df_2_1_28_29

                                                                                                           for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Уровень_образования_ВО_СПО
Высшее образование                                                                                                 13.0
Среднее профессиональное образование                                                                               11.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Профессиональная переподготовка
Уровень_образования_ВО_СПО
Высшее образование                                                                                                           6.0
Среднее профессиональное образование                                                                                         3.0

In [3667]:

# Удаляем мультиколонку
df_2_1_28_29.columns = df_2_1_28_29.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29.columns) == 1:
    df_2_1_28_29['Всего слушателей_temp']= df_2_1_28_29.iloc[:,0]
else:
    df_2_1_28_29['Всего слушателей_temp'] = df_2_1_28_29['Повышение квалификации'] + df_2_1_28_29['Профессиональная переподготовка']

In [3668]:
# перемещаем колонку всего слушателй_temp
df_2_1_28_29.insert(0,'Всего слушателей',df_2_1_28_29['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29 = df_2_1_28_29.reset_index()

In [3669]:
#Добавляем заголовок
wb['Раздел 2.1 Строки 28,29,30'][f'A1'] = 'Образование слушателей обученных по дополнительным профессиональным программам'
wb['Раздел 2.1 Строки 28,29,30'][f'A1'].font = font_name_table

In [3670]:
for r in dataframe_to_rows(df_2_1_28_29, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3671]:
# # Создаем датафрейм для строк 28 и 29 по модульным программам с вариативным выбором
df_2_1_28_29_module_base= df_2_1_28_29_base[df_2_1_28_29_base['Модульная_программа_с_вариативным_выбором'] == 'да']

In [3672]:
df_2_1_28_29_module = pd.pivot_table(df_2_1_28_29_module_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3673]:

# Удаляем мультиколонку
df_2_1_28_29_module.columns = df_2_1_28_29_module.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29_module.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29_module.columns) == 1:
    df_2_1_28_29_module['Всего слушателей_temp']= df_2_1_28_29_module.iloc[:,0]
else:
    df_2_1_28_29_module['Всего слушателей_temp'] = df_2_1_28_29_module['Повышение квалификации'] + df_2_1_28_29_module['Профессиональная переподготовка']
# перемещаем колонку всего слушателй_temp
df_2_1_28_29_module.insert(0,'Всего слушателей',df_2_1_28_29_module['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29_module.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29_module = df_2_1_28_29_module.reset_index()

In [3674]:
df_2_1_28_29_module

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Уровень_образования_ВО_СПО,Всего слушателей,Повышение квалификации
0,Высшее образование,1.0,1.0
1,Среднее профессиональное образование,2.0,2.0

In [3675]:
# Создаем промежуток
max_row_28_29_module = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_module+2}'] = 'Образование слушателей обученных по модульным программам с вариативным выбором'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_module+2}'].font = font_name_table

In [3676]:
for r in dataframe_to_rows(df_2_1_28_29_module, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3677]:
# Создаем датафрейм 28 и 29 для женщин
df_2_1_28_29_women_base = df_2_1_28_29_base[df_2_1_28_29_base['Пол_получателя'] =='Жен']

In [3678]:
df_2_1_28_29_women = pd.pivot_table(df_2_1_28_29_women_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3679]:

# Удаляем мультиколонку
df_2_1_28_29_women.columns = df_2_1_28_29_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29_women.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29_women.columns) == 1:
    df_2_1_28_29_women['Всего слушателей_temp']= df_2_1_28_29_women.iloc[:,0]
else:
    df_2_1_28_29_women['Всего слушателей_temp'] = df_2_1_28_29_women['Повышение квалификации'] + df_2_1_28_29_women['Профессиональная переподготовка']
# перемещаем колонку всего слушателй_temp
df_2_1_28_29_women.insert(0,'Всего женщин-слушателей',df_2_1_28_29_women['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29_women = df_2_1_28_29_women.reset_index()

In [3680]:
df_2_1_28_29_women

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Уровень_образования_ВО_СПО,Всего женщин-слушателей,Повышение квалификации,Профессиональная переподготовка
0,Высшее образование,16.0,11.0,5.0
1,Среднее профессиональное образование,11.0,9.0,2.0

In [3681]:
# Создаем промежуток
max_row_28_29_women = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_women+2}'] = 'Образование женщин обученных по дополнительным профессиональным программам'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_women+2}'].font = font_name_table

In [3682]:
for r in dataframe_to_rows(df_2_1_28_29_women, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3683]:
# Создаем датафреймы для строки 30
# Создаем список категорий слушателей которых нужно посчитать
lst_cat_30 = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','студент ВО','другое']


df_2_1_30_base = df_2_1.loc[df_2_1['Категория_слушателя'].isin(lst_cat_30)]

In [3684]:
df_2_1_30_base = df_2_1_30_base[df_2_1_30_base['Для_освоения_ДПП_требуется_наличие_ВО'] == 'требуется ВО']

In [3685]:
df_2_1_30 = pd.pivot_table(df_2_1_30_base, index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3686]:
# Удаляем мультиколонку
df_2_1_30.columns = df_2_1_30.columns.droplevel()
True
# Заполняем NaN
df_2_1_30.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30.columns) == 1:
    df_2_1_30['Всего слушателей_temp']= df_2_1_30.iloc[:,0]
else:
    df_2_1_30['Всего слушателей_temp'] = df_2_1_30['Повышение квалификации'] + df_2_1_30['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30.insert(0,'Всего слушателей',df_2_1_30['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30 = df_2_1_30.reset_index()

In [3687]:
# Создаем промежуток
max_row_30 = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30+5}'] = 'Всего слушателей обученных по программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30+5}'].font = font_name_table

In [3688]:
for r in dataframe_to_rows(df_2_1_30, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3689]:
# создаем датафрейм строки 30 для модульных программ
df_2_1_30_module_base = df_2_1_30_base[df_2_1_30_base['Модульная_программа_с_вариативным_выбором']=='да']

In [3690]:
df_2_1_30_module = pd.pivot_table(df_2_1_30_module_base,index=['Уровень_образования_ВО_СПО'],
                                               columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3691]:
df_2_1_30_module

                                                                                                           for_counting
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Уровень_образования_ВО_СПО
Среднее профессиональное образование                                                                                1.0

In [3692]:
# Удаляем мультиколонку
df_2_1_30_module.columns = df_2_1_30_module.columns.droplevel()
True
# Заполняем NaN
df_2_1_30_module.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30_module.columns) == 1:
    df_2_1_30_module['Всего слушателей_temp']= df_2_1_30_module.iloc[:,0]
else:
    df_2_1_30_module['Всего слушателей_temp'] = df_2_1_30_module['Повышение квалификации'] + df_2_1_30_module['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30_module.insert(0,'Всего слушателей',df_2_1_30_module['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30_module.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30_module = df_2_1_30_module.reset_index()

In [3693]:
# Создаем промежуток
max_row_30_module = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_module+2}'] = 'Всего слушателей обученных по модульным программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_module+2}'].font = font_name_table

In [3694]:
for r in dataframe_to_rows(df_2_1_30_module, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3695]:
# создаем датафрейм женщин по строке 30
df_2_1_30_women_base =df_2_1_30_base[df_2_1_30_base['Пол_получателя'] == 'Жен']

In [3696]:
df_2_1_30_women = pd.pivot_table(df_2_1_30_women_base,index=['Уровень_образования_ВО_СПО'],
                                               columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [3697]:
# Удаляем мультиколонку
df_2_1_30_women.columns = df_2_1_30_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_30_women.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30_women.columns) == 1:
    df_2_1_30_women['Всего слушателей_temp']= df_2_1_30_women.iloc[:,0]
else:
    df_2_1_30_women['Всего слушателей_temp'] = df_2_1_30_women['Повышение квалификации'] + df_2_1_30_women['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30_women.insert(0,'Всего женщин-слушателей',df_2_1_30_women['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30_women = df_2_1_30_women.reset_index()

In [3698]:
# Создаем промежуток
max_row_30_women = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_women+2}'] = 'Всего женщин обученных по  программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_women+2}'].font = font_name_table

In [3699]:
for r in dataframe_to_rows(df_2_1_30_women,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [3700]:
# Устанавливаем размер колонок раздела 2.1 строки 28 и 29
wb['Раздел 2.1 Строки 28,29,30'].column_dimensions['A'].width = 50

In [3701]:
# Считаем раздел 2.2
df_2_2 = df_dpo.copy()
df_2_2['for_counting'] = 1

In [3702]:
df_2_2_all = pd.pivot_table(df_2_2,index='Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка',
                           columns=['Источник_финансирования_обучения'],
                           values=['for_counting'],
                           aggfunc='sum')

In [3703]:
df_2_2_all

                                                     for_counting  \
Источник_финансирования_обучения                   Местный бюджет
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                       17.0
Профессиональная переподготовка                               9.0

                                                                     \
Источник_финансирования_обучения                   Платное обучение
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                          3.0
Профессиональная переподготовка                                 NaN

                                                                        \
Источник_финансирования_обучения                   Региональный бюджет
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                             4.0
Профессиональная переподготовка                                    NaN


Источник_финансирования_обучения                   Федеральный бюджет
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                            3.0
Профессиональная переподготовка                                   NaN

In [3704]:
# Удаляем мультиколонку для общей таблицы 
df_2_2_all.columns = df_2_2_all.columns.droplevel()
# Исправляем индексы
df_2_2_all=df_2_2_all.reset_index()

In [3705]:
# Записываем в раздел 2.2
wb['Раздел 2.2'][f'A1'] = 'Общая численность обученных по источнику финансирования по колонкам 4,5,6,7,12,13,14,15'
wb['Раздел 2.2'][f'A1'].font = font_name_table

In [3706]:
for r in dataframe_to_rows(df_2_2_all,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.2'].append(r)

In [3707]:
# Считаем общую сумму по колонкам 8,9,10
df_2_2_all_8910 = pd.pivot_table(df_2_2,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
                           columns=['Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП'],
                           values=['for_counting'],
                           aggfunc='sum')

In [3708]:
df_2_2_all_8910

                                                                                                           for_counting  \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП бюджетные  ассигнования
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                                                                              NaN
Профессиональная переподготовка                                                                                     9.0

                                                                                                            \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП индикаторы
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                                                                 3.0
Профессиональная переподготовка                                                                        NaN

                                                                                                                           \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП собственные средства ЦОПП
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                                                                                9.0
Профессиональная переподготовка                                                                                       NaN

                                                                                                           \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП физ. лицо
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                                                                4.0
Профессиональная переподготовка                                                                       NaN


Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП юр. лицо
Дополнительная_профессиональная_программа_повыш...
Повышение квалификации                                                                              11.0
Профессиональная переподготовка                                                                      NaN

In [3709]:
# Удаляем мультиколонку для общей таблицы 
df_2_2_all_8910.columns = df_2_2_all_8910.columns.droplevel()
# Исправляем индексы
df_2_2_all_8910=df_2_2_all_8910.reset_index()

In [3710]:
# Записываем в раздел 2.2
# Создаем промежуток
max_row_2_2 = wb['Раздел 2.2'].max_row
wb['Раздел 2.2'][f'A{max_row_2_2+2}'] = 'Общая численность обученных по колонкам 8,9,10,16,17,18'
wb['Раздел 2.2'][f'A{max_row_2_2+2}'].font = font_name_table

In [3711]:
for r in dataframe_to_rows(df_2_2_all_8910,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.2'].append(r)

In [3712]:
#Создаем сводную таблицу для колонок 4,5,6,7,12,13,14,15
df_2_2_budget = pd.pivot_table(df_2_2,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка','Категория_слушателя','Является_ли_слушатель_руководителем'],
                           columns=['Источник_финансирования_обучения'],
                           values=['for_counting'],
                           aggfunc='sum')

In [3713]:
df_2_2_budget

                                                                                                                                            for_counting  \
Источник_финансирования_обучения                                                                                                          Местный бюджет
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                NaN
                                                                                                      руководитель                                   NaN
                                                   работник образовательной организации               не руководитель                               16.0
                                                                                                      руководитель                                   1.0
                                                   студент ВО                                         не руководитель                                NaN
                                                                                                      руководитель                                   NaN
                                                   студент СПО                                        руководитель                                   NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                8.0
                                                                                                      руководитель                                   1.0

                                                                                                                                                            \
Источник_финансирования_обучения                                                                                                          Платное обучение
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                  2.0
                                                                                                      руководитель                                     1.0
                                                   работник образовательной организации               не руководитель                                  NaN
                                                                                                      руководитель                                     NaN
                                                   студент ВО                                         не руководитель                                  NaN
                                                                                                      руководитель                                     NaN
                                                   студент СПО                                        руководитель                                     NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                  NaN
                                                                                                      руководитель                                     NaN

                                                                                                                                                               \
Источник_финансирования_обучения                                                                                                          Региональный бюджет
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                     NaN
                                                                                                      руководитель                                        NaN
                                                   работник образовательной организации               не руководитель                                     1.0
                                                                                                      руководитель                                        NaN
                                                   студент ВО                                         не руководитель                                     1.0
                                                                                                      руководитель                                        1.0
                                                   студент СПО                                        руководитель                                        1.0
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                     NaN
                                                                                                      руководитель                                        NaN


Источник_финансирования_обучения                                                                                                          Федеральный бюджет
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                    NaN
                                                                                                      руководитель                                       NaN
                                                   работник образовательной организации               не руководитель                                    3.0
                                                                                                      руководитель                                       NaN
                                                   студент ВО                                         не руководитель                                    NaN
                                                                                                      руководитель                                       NaN
                                                   студент СПО                                        руководитель                                       NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                    NaN
                                                                                                      руководитель                                       NaN

In [3714]:
# Удаляем мультиколонку
df_2_2_budget.columns = df_2_2_budget.columns.droplevel()

df_2_2_budget = df_2_2_budget.reset_index()

In [3715]:
# Записываем в раздел 2.2
# Создаем промежуток
max_row_2_2 = wb['Раздел 2.2'].max_row
wb['Раздел 2.2'][f'A{max_row_2_2+2}'] = 'Численность обученных по категориям и по колонкам 4,5,6,7,12,13,14,15 '
wb['Раздел 2.2'][f'A{max_row_2_2+2}'].font = font_name_table

In [3716]:
for r in dataframe_to_rows(df_2_2_budget,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.2'].append(r)

In [3717]:
# Считаем по колонкам 8,9,10,16,17,18
df_2_2_budget_8910 = pd.pivot_table(df_2_2,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка','Категория_слушателя','Является_ли_слушатель_руководителем'],
                           columns=['Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП'],
                           values=['for_counting'],
                           aggfunc='sum')

In [3718]:
df_2_2_budget_8910

                                                                                                                                                     for_counting  \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП                                           бюджетные  ассигнования
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                         NaN
                                                                                                      руководитель                                            NaN
                                                   работник образовательной организации               не руководитель                                         NaN
                                                                                                      руководитель                                            NaN
                                                   студент ВО                                         не руководитель                                         NaN
                                                                                                      руководитель                                            NaN
                                                   студент СПО                                        руководитель                                            NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                         8.0
                                                                                                      руководитель                                            1.0

                                                                                                                                                      \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП                                           индикаторы
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                            2.0
                                                                                                      руководитель                               1.0
                                                   работник образовательной организации               не руководитель                            NaN
                                                                                                      руководитель                               NaN
                                                   студент ВО                                         не руководитель                            NaN
                                                                                                      руководитель                               NaN
                                                   студент СПО                                        руководитель                               NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                            NaN
                                                                                                      руководитель                               NaN

                                                                                                                                                                     \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП                                           собственные средства ЦОПП
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                                           NaN
                                                                                                      руководитель                                              NaN
                                                   работник образовательной организации               не руководитель                                           6.0
                                                                                                      руководитель                                              NaN
                                                   студент ВО                                         не руководитель                                           1.0
                                                                                                      руководитель                                              1.0
                                                   студент СПО                                        руководитель                                              1.0
Профессиональная переподготовка                    работник образовательной организации               не руководитель                                           NaN
                                                                                                      руководитель                                              NaN

                                                                                                                                                     \
Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП                                           физ. лицо
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                           NaN
                                                                                                      руководитель                              NaN
                                                   работник образовательной организации               не руководитель                           3.0
                                                                                                      руководитель                              1.0
                                                   студент ВО                                         не руководитель                           NaN
                                                                                                      руководитель                              NaN
                                                   студент СПО                                        руководитель                              NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                           NaN
                                                                                                      руководитель                              NaN


Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП                                           юр. лицо
Дополнительная_профессиональная_программа_повыш... Категория_слушателя                                Является_ли_слушатель_руководителем
Повышение квалификации                             лицо, замещающее государственную должность или ... не руководитель                          NaN
                                                                                                      руководитель                             NaN
                                                   работник образовательной организации               не руководитель                         11.0
                                                                                                      руководитель                             NaN
                                                   студент ВО                                         не руководитель                          NaN
                                                                                                      руководитель                             NaN
                                                   студент СПО                                        руководитель                             NaN
Профессиональная переподготовка                    работник образовательной организации               не руководитель                          NaN
                                                                                                      руководитель                             NaN

In [3719]:
# Удаляем мультиколонку
df_2_2_budget_8910.columns = df_2_2_budget_8910.columns.droplevel()

df_2_2_budget_8910 = df_2_2_budget_8910.reset_index()

In [3720]:
# Записываем в раздел 2.2
# Создаем промежуток
max_row_2_2 = wb['Раздел 2.2'].max_row
wb['Раздел 2.2'][f'A{max_row_2_2+2}'] = 'Численность обученных по категориям и по колонкам 8,9,10,16,17,18'
wb['Раздел 2.2'][f'A{max_row_2_2+2}'].font = font_name_table

In [3721]:
for r in dataframe_to_rows(df_2_2_budget_8910,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.2'].append(r)

In [3722]:
# Устанавливаем размер колонок в разделе 2.2
wb['Раздел 2.2'].column_dimensions['A'].width = 50

In [3723]:
# Создаем раздел 2.3.1
df_2_3_1_base = df_dpo.copy()
df_2_3_1_base['for_counting'] = 1
df_2_3_1 = df_2_3_1_base[df_2_3_1_base['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=='Повышение квалификации']

In [3724]:
# считаем количество программ 
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_econom =df_2_3_1.groupby('Наименование_дополнительной_профессиональной_программы').agg(
    {'Вид_экономической_деятельности_дополнительной_профессиональной_программы':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы']=quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы'].apply(lambda x: x.split(',')[0])

df_2_3_1_quantity_program =quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы'].value_counts().to_frame()

In [3725]:
df_2_3_1_quantity_program

                                                    Вид_экономической_деятельности_дополнительной_профессиональной_программы
 образование                                                                                        1
торговля оптовая и розничная; ремонт автотрансп...                                                  1

In [3726]:
# переименовываем индекс и колонку
df_2_3_1_quantity_program.index.name = 'Вид экономической деятельности'
df_2_3_1_quantity_program.columns = ['Количество программ']

In [3727]:
df_2_3_1_quantity_program

                                                    Количество программ
Вид экономической деятельности
 образование                                                          1
торговля оптовая и розничная; ремонт автотрансп...                    1

In [3728]:
# Записываем в раздел 2.3.1
wb['Раздел 2.3.1'][f'A1'] = 'Число реализованных программ по видам экономической деятельности'
wb['Раздел 2.3.1'][f'A1'].font = font_name_table

In [3729]:
for r in dataframe_to_rows(df_2_3_1_quantity_program,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.1'].append(r)

In [3730]:
# Считаем общую сумму колонка 3.
df_2_3_1_category_sum_all = pd.pivot_table(df_2_3_1,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                  columns=['Категория_слушателя','Является_ли_слушатель_руководителем'],
                                  values=['for_counting'],
                                  aggfunc='sum')

In [3731]:
df_2_3_1_category_sum_all.fillna(0.0,inplace=True)

In [3732]:
# Последовательно убираем 2 мультииндекса
df_2_3_1_category_sum_all.columns = df_2_3_1_category_sum_all.columns.droplevel()
df_2_3_1_category_sum_all.columns =df_2_3_1_category_sum_all.columns.droplevel()

In [3733]:
# Заменяем имена колонок
df_2_3_1_category_sum_all.columns = range(len(df_2_3_1_category_sum_all.columns))

In [3734]:
df_2_3_1_category_sum_all

,0,1,2,3,4,5,6
Вид_экономической_деятельности_дополнительной_профессиональной_программы,,,,,,,
образование,2.0,0.0,20.0,1.0,1.0,1.0,1.0
торговля оптовая и розничная; ремонт автотранспортных средств и мотоциклов,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [3735]:
# Считаем сумму
df_2_3_1_category_sum_all['Всего'] = df_2_3_1_category_sum_all.iloc[:,:].sum(axis=1)

In [3736]:
df_2_3_1_category_sum_all_out = df_2_3_1_category_sum_all['Всего'].to_frame()

In [3737]:
df_2_3_1_category_sum_all_out.columns = ['Всего слушателей,по видам экономической деятельности']

In [3738]:
df_2_3_1_category_sum_all_out

                                                    Всего слушателей,по видам экономической деятельности
Вид_экономической_деятельности_дополнительной_п...
 образование                                                                                     26.0
торговля оптовая и розничная; ремонт автотрансп...                                                1.0

In [3739]:
# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.1'].max_row
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'] = 'Численность слушателей обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'].font = font_name_table

In [3740]:
for r in dataframe_to_rows(df_2_3_1_category_sum_all_out,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.1'].append(r)

In [3741]:
# Считаем суммы по категориям
df_2_3_1_category= pd.pivot_table(df_2_3_1,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                 columns=['Категория_слушателя','Является_ли_слушатель_руководителем'],
                                 values=['for_counting'],
                                 aggfunc='sum')

In [3742]:
df_2_3_1_category

                                                                                                   for_counting  \
Категория_слушателя                                лицо, замещающее государственную должность или должность ГГС
Является_ли_слушатель_руководителем                                                             не руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                                                      2.0
торговля оптовая и розничная; ремонт автотрансп...                                                NaN

                                                                 \
Категория_слушателя
Является_ли_слушатель_руководителем                руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                NaN
торговля оптовая и розничная; ремонт автотрансп...          1.0

                                                                                         \
Категория_слушателя                                работник образовательной организации
Является_ли_слушатель_руководителем                                     не руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                                       20.0
торговля оптовая и розничная; ремонт автотрансп...                                  NaN

                                                                 \
Категория_слушателя
Является_ли_слушатель_руководителем                руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                1.0
торговля оптовая и розничная; ремонт автотрансп...          NaN

                                                                    \
Категория_слушателя                                     студент ВО
Является_ли_слушатель_руководителем                не руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                   1.0
торговля оптовая и розничная; ремонт автотрансп...             NaN


Категория_слушателя                                              студент СПО
Является_ли_слушатель_руководителем                руководитель руководитель
Вид_экономической_деятельности_дополнительной_п...
 образование                                                1.0          1.0
торговля оптовая и розничная; ремонт автотрансп...          NaN          NaN

In [3743]:
df_2_3_1_category.columns = df_2_3_1_category.columns.droplevel()

In [3744]:
# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.1'].max_row
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'] = 'Численность КАТЕГОРИЙ слушателей обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'].font = font_name_table

In [3745]:
for r in dataframe_to_rows(df_2_3_1_category,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.1'].append(r)

In [3746]:
# Считаем по уровню образованию
# Создаем список категорий слушателей которых нужно посчитать
lst_2_2_obraz = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','безработный по направлению СЗ','другое']


df_2_3_1_obraz_base = df_2_3_1.loc[df_2_1['Категория_слушателя'].isin(lst_2_2_obraz)]

In [3747]:
df_2_3_1_obraz = pd.pivot_table(df_2_3_1_obraz_base,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                               columns=['Уровень_образования_ВО_СПО'],
                               values=['for_counting'],
                               aggfunc='sum')

In [3748]:
df_2_3_1_obraz

                                                         for_counting  \
Уровень_образования_ВО_СПО                         Высшее образование
Вид_экономической_деятельности_дополнительной_п...
 образование                                                     12.0
торговля оптовая и розничная; ремонт автотрансп...                1.0


Уровень_образования_ВО_СПО                         Среднее профессиональное образование
Вид_экономической_деятельности_дополнительной_п...
 образование                                                                       11.0
торговля оптовая и розничная; ремонт автотрансп...                                  NaN

In [3749]:
# Убираем мультииндекс
df_2_3_1_obraz.columns = df_2_3_1_obraz.columns.droplevel()

In [3750]:
# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.1'].max_row
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'] = 'Численность  слушателей по уровню образования, обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'].font = font_name_table

In [3751]:
for r in dataframe_to_rows(df_2_3_1_obraz,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.1'].append(r)

In [3752]:
# Считаем слушателей по форме обучения
df_2_3_1_forma_obuch = pd.pivot_table(df_2_3_1,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                     columns=['Форма_обучения'],
                                     values=['for_counting'],
                                      aggfunc='sum')

In [3753]:
df_2_3_1_forma_obuch

                                                   for_counting
Форма_обучения                                          Заочная Очная
Вид_экономической_деятельности_дополнительной_п...
 образование                                                2.0  24.0
торговля оптовая и розничная; ремонт автотрансп...          1.0   NaN

In [3754]:
# Убираем мультииндекс
df_2_3_1_forma_obuch.columns = df_2_3_1_forma_obuch.columns.droplevel()

In [3755]:
# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.1'].max_row
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'] = 'Численность  слушателей по форме обучения, обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.1'][f'A{max_row_2_3+2}'].font = font_name_table

In [3756]:
for r in dataframe_to_rows(df_2_3_1_forma_obuch,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.1'].append(r)

In [3757]:
# Устанавливаем размер колонок в разделе 2.3.1
wb['Раздел 2.3.1'].column_dimensions['A'].width = 50

In [3758]:
# Создаем раздел 2.3.2. Все тоже самое только для ПП
# Создаем раздел 2.3.1
df_2_3_2_base = df_dpo.copy()
df_2_3_2_base['for_counting'] = 1
df_2_3_2 = df_2_3_2_base[df_2_3_2_base['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=='Профессиональная переподготовка']

In [3759]:
# считаем количество программ 
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_econom =df_2_3_2.groupby('Наименование_дополнительной_профессиональной_программы').agg(
    {'Вид_экономической_деятельности_дополнительной_профессиональной_программы':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы']=quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы'].apply(lambda x: x.split(',')[0])

df_2_3_2_quantity_program =quantity_program_on_econom['Вид_экономической_деятельности_дополнительной_профессиональной_программы'].value_counts().to_frame()



# переименовываем индекс и колонку
df_2_3_2_quantity_program.index.name = 'Вид экономической деятельности'
df_2_3_2_quantity_program.columns = ['Количество программ']



# Записываем в раздел 2.3.2
wb['Раздел 2.3.2'][f'A1'] = 'Число реализованных программ по видам экономической деятельности'
wb['Раздел 2.3.2'][f'A1'].font = font_name_table

for r in dataframe_to_rows(df_2_3_2_quantity_program,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.2'].append(r)

# Считаем общую сумму колонка 3.
df_2_3_2_category_sum_all = pd.pivot_table(df_2_3_2,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                  columns=['Категория_слушателя','Является_ли_слушатель_руководителем'],
                                  values=['for_counting'],
                                  aggfunc='sum')

df_2_3_2_category_sum_all.fillna(0.0,inplace=True)

# Последовательно убираем 2 мультииндекса
df_2_3_2_category_sum_all.columns = df_2_3_2_category_sum_all.columns.droplevel()
df_2_3_2_category_sum_all.columns =df_2_3_2_category_sum_all.columns.droplevel()

# Заменяем имена колонок
df_2_3_2_category_sum_all.columns = range(len(df_2_3_2_category_sum_all.columns))



# Считаем сумму
df_2_3_2_category_sum_all['Всего'] = df_2_3_2_category_sum_all.iloc[:,:].sum(axis=1)

df_2_3_2_category_sum_all_out = df_2_3_2_category_sum_all['Всего'].to_frame()

df_2_3_2_category_sum_all_out.columns = ['Всего слушателей,по видам экономической деятельности']



# Записываем в раздел 2.3.2
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.2'].max_row
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'] = 'Численность слушателей обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'].font = font_name_table

for r in dataframe_to_rows(df_2_3_2_category_sum_all_out,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.2'].append(r)

# Считаем суммы по категориям
df_2_3_2_category= pd.pivot_table(df_2_3_2,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                 columns=['Категория_слушателя','Является_ли_слушатель_руководителем'],
                                 values=['for_counting'],
                                 aggfunc='sum')



df_2_3_2_category.columns = df_2_3_2_category.columns.droplevel()


# Записываем в раздел 2.3.2
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.2'].max_row
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'] = 'Численность КАТЕГОРИЙ слушателей обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'].font = font_name_table

for r in dataframe_to_rows(df_2_3_2_category,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.2'].append(r)

# Считаем по уровню образованию
# Создаем список категорий слушателей которых нужно посчитать
lst_2_2_obraz = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','безработный по направлению СЗ','другое']


df_2_3_2_obraz_base = df_2_3_2.loc[df_2_1['Категория_слушателя'].isin(lst_2_2_obraz)]


df_2_3_2_obraz = pd.pivot_table(df_2_3_2_obraz_base,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                               columns=['Уровень_образования_ВО_СПО'],
                               values=['for_counting'],
                               aggfunc='sum')



# Убираем мультииндекс
df_2_3_2_obraz.columns = df_2_3_2_obraz.columns.droplevel()

# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.2'].max_row
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'] = 'Численность  слушателей по уровню образования, обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'].font = font_name_table

for r in dataframe_to_rows(df_2_3_2_obraz,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.2'].append(r)

# Считаем слушателей по форме обучения
df_2_3_2_forma_obuch = pd.pivot_table(df_2_3_2,index=['Вид_экономической_деятельности_дополнительной_профессиональной_программы'],
                                     columns=['Форма_обучения'],
                                     values=['for_counting'],
                                      aggfunc='sum')



# Убираем мультииндекс
df_2_3_2_forma_obuch.columns = df_2_3_2_forma_obuch.columns.droplevel()

# Записываем в раздел 2.3.1
# Создаем промежуток
max_row_2_3 = wb['Раздел 2.3.2'].max_row
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'] = 'Численность  слушателей по форме обучения, обученных по каждому виду экономической деятельности'
wb['Раздел 2.3.2'][f'A{max_row_2_3+2}'].font = font_name_table

for r in dataframe_to_rows(df_2_3_2_forma_obuch,index=True,header=True):
    if len(r) != 1:
        wb['Раздел 2.3.2'].append(r)

# Устанавливаем размер колонок в разделе 2.3.1
wb['Раздел 2.3.2'].column_dimensions['A'].width = 50

In [3760]:
 # Получаем текущее время для того чтобы использовать в названии
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)
# Сохраняем итоговый файл
wb.save(f'{path_to_end_folder_report}/Часть отчета 1-ПК.xlsx {current_time}.xlsx')