In [8]:
import pandas as pd

In [9]:
name_file_data_report = 'Общая таблица слушателей ЦОПП.xlsx'

In [10]:
df_dpo = pd.read_excel(name_file_data_report,sheet_name='ДПО')

In [ ]:
#Создаем файл

In [11]:
# Раздел 1.3
# Количество программ по каждому виду обучения
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_type_provisional =df_dpo.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])

quantity_program_on_type=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts()

In [12]:
quantity_program_on_type['Повышение квалификации']

2

In [13]:
group_quantity_student_program = df_dpo.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).size()
group_quantity_student_program

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка
Повышение квалификации              27
Профессиональная переподготовка      9
dtype: int64

In [16]:
razd1_3_df = pd.concat([quantity_program_on_type,group_quantity_student_program],axis=1)

,Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,0
Повышение квалификации,2,27
Профессиональная переподготовка,1,9

In [ ]:
# Подсчет программ реализованных с использованием сетевой формы
df_dpo = df_dpo[df_dpo['']]