In [1837]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import Font
import time

In [1838]:
name_file_data_report = 'Общая таблица слушателей ЦОПП.xlsx' 
path_to_end_folder_report = 'data'

In [1839]:
df_dpo = pd.read_excel(name_file_data_report,sheet_name='ДПО')

In [1840]:
#Создаем шрифт которым будем выделять названия таблиц
font_name_table = Font(name='Arial Black',size=15,italic=True)

In [1841]:
# Раздел 1.3
# Количество программ по каждому виду обучения
# группируем. Так как нам нужны текстовые данные то применяем создаем строку с помощью join
quantity_program_on_type_provisional =df_dpo.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. Предполо
quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])

df_1_3=quantity_program_on_type_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()
# Раздел 1.3

In [1842]:
# Создаем пустую колонку 4
temp_df = pd.DataFrame(columns=['4'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)
# переименываем первую колонку
df_1_3.rename(columns={'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':'Число реализованных программ'},inplace=True)

In [1843]:
group_quantity_student_program = df_dpo.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).size()
group_quantity_student_program

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка
Повышение квалификации             27
Профессиональная переподготовка     9
dtype: int64

In [1844]:
# Добавляем колонку 5- всего слушателей
df_1_3['Всего слушателей'] = group_quantity_student_program
df_1_3

,Число реализованных программ,4,Всего слушателей
Повышение квалификации,2,NaN,27
Профессиональная переподготовка,1,NaN,9

In [1845]:
# Подсчет сетевой формы
df_dpo_network = df_dpo[df_dpo['Использование_сетевой_формы_обучения'] == 'Сетевая форма']

In [1846]:
group_quantity_network_program_provisional=df_dpo_network.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})
# Применяем к полученной серии функцию разделения по запятой. Предполо
group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ сетевая форма'] = group_quantity_network_program_provisional['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [1847]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма
Повышение квалификации,2,NaN,27,1
Профессиональная переподготовка,1,NaN,9,1

In [1848]:
# Считаем число слушателей на сетевых программах
df_1_3['Численость слушателей сетевый программ']=df_dpo_network.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1849]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ
Повышение квалификации,2,NaN,27,1,3
Профессиональная переподготовка,1,NaN,9,1,9

In [1850]:
# Добавляем 4 пустых столбца
temp_df = pd.DataFrame(columns=['8','9','10','11','12'])
df_1_3 = pd.concat([df_1_3,temp_df],axis=1)

In [1851]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN

In [1852]:
# Считаем дистанционные технологии
df_dpo_distant = df_dpo[df_dpo['Использование_ЭО_или_ДОТ'] != 'Без применения ЭО или ДОТ']
group_quantity_distant = df_dpo_distant.groupby('Наименование_дополнительной_профессиональной_программы').agg({'Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка':lambda x:','.join(x)})

# Применяем к полученной серии функцию разделения по запятой. 
group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']=group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].apply(lambda x: x.split(',')[0])
df_1_3['Число программ ЭО и ДОТ'] = group_quantity_distant['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'].value_counts().to_frame()

In [1853]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1

In [1854]:
#Считаем количество слушателей
df_1_3['Численность слушателей ЭО И ДОТ'] = df_dpo_distant.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1855]:
df_1_3

,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ
Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27
Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9

In [1856]:
# Считаем только тех кто учился на программах исключительно ЭО и ДОТ
df_dpo_distant_only_dot = df_dpo_distant[df_dpo_distant['Использование_ЭО_или_ДОТ'] == 'Исключительно с ЭО ли ДОТ' ]
df_1_3['Численность слушателей только ЭО и ДОТ'] = df_dpo_distant_only_dot.groupby('Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка').agg({'ФИО_именительный':'count'})

In [1857]:
finish_df_1_3 = df_1_3.reset_index()

In [1858]:
finish_df_1_3

,index,Число реализованных программ,4,Всего слушателей,Число программ сетевая форма,Численость слушателей сетевый программ,8,9,10,11,12,Число программ ЭО и ДОТ,Численность слушателей ЭО И ДОТ,Численность слушателей только ЭО и ДОТ
0,Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27,1.0
1,Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN

In [1859]:
finish_df_1_3.columns= ['Наименование образовательных программ','Число реализованных образовательных программ всего,единиц','из них прошли профессионально-общественную аккредитацию',
                'Всего слушателей, обученных по программам, человек','число программ(из графы 3) реализованных с использованием сетевой формы',
                'численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего',
                 'в том числе(из графы 7) с использованием ресурсов иностранных организаций','общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы',
                 'из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций','число организаций с которыми заключены договоры  на реализацию образовательных программ с использованием сетевой формы',
                'в том числе(из графы 11) число иностранных организаций','число программ(из графы 3),реализованных с применением ЭО или ДОТ','Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ',
                 'в том числе(из графы 14) с применением исключительно ЭО и ДОТ']

In [1860]:
finish_df_1_3

,Наименование образовательных программ,"Число реализованных образовательных программ всего,единиц",из них прошли профессионально-общественную аккредитацию,"Всего слушателей, обученных по программам, человек",число программ(из графы 3) реализованных с использованием сетевой формы,численность слушателей обученных(из графы 5) по программам с использованием сетевой формы-всего,в том числе(из графы 7) с использованием ресурсов иностранных организаций,общее число заключенных договоров с организациями на реализацию образовательных программ с использованием сетевой формы,из них число заключенных договоров(из графы 9) с использованием ресурсов иностранных организаций,число организаций с которыми заключены договоры на реализацию образовательных программ с использованием сетевой формы,в том числе(из графы 11) число иностранных организаций,"число программ(из графы 3),реализованных с применением ЭО или ДОТ",Численность слушателей обученных(из графы 5) по программам с применением ЭО и ДОТ,в том числе(из графы 14) с применением исключительно ЭО и ДОТ
0,Повышение квалификации,2,NaN,27,1,3,NaN,NaN,NaN,NaN,NaN,2,27,1.0
1,Профессиональная переподготовка,1,NaN,9,1,9,NaN,NaN,NaN,NaN,NaN,1,9,NaN

In [1861]:
# Создаем файл excel
wb = openpyxl.Workbook()
# Создаем лист раздела 1.3
wb.create_sheet(title='Раздел 1.3',index=0)
wb.create_sheet(title='Раздел 2.1',index=1)
wb.create_sheet(title='Раздел 2.1 Строки 28,29,30',index=2)
wb.create_sheet(title='Раздел 2.2',index=3)
wb.create_sheet(title='Раздел 2.3.1',index=4)
wb.create_sheet(title='Раздел 2.3.2',index=5)
wb.create_sheet(title='Раздел 2.4',index=6)
wb.create_sheet(title='Раздел 2.5',index=7)

In [1862]:
for r in dataframe_to_rows(finish_df_1_3, index=False, header=True):
    wb['Раздел 1.3'].append(r)

In [1863]:
# Раздел 2.4

In [1864]:
# Создаем дополнительную числовую колонку где каждое значение это 1, для удобства агрегирования
df_2_4 = df_dpo.copy()
# Добавляем колонку с 1
df_2_4['for_counting'] = 1

In [1865]:
#Считаем общее количество
all_counting_age_category=df_2_4.groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Всего слушателей'})

In [1866]:
all_counting_age_category

                          Всего слушателей
Возрастная_категория_1ПК
30-34                                    4
35-39                                    2
40-44                                    7
45-49                                    8
50-54                                    5
55-59                                    3
60-64                                    6

In [1867]:
df_2_4_all = all_counting_age_category.swapaxes(1,0)

In [1868]:
df_2_4_all

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей              4      2      7      8      5      3      6

In [1869]:
# Считаем женщин
df_2_4_women=df_2_4[df_2_4['Пол_получателя']=='Жен'].groupby(['Возрастная_категория_1ПК']).agg({'for_counting':'sum'}).rename(columns={'for_counting':'Женщин Всего'}).swapaxes(1,0)

In [1870]:
df_2_4_women

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Женщин Всего                  3      2      7      6      5      3      1

In [1871]:
df_2_4_all =pd.concat([df_2_4_all,df_2_4_women],axis=0)

In [1872]:
df_2_4_all

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей              4      2      7      8      5      3      6
Женщин Всего                  3      2      7      6      5      3      1

In [1873]:
finish_df2_4=pd.pivot_table(df_dpo,index=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка','Пол_получателя'],
              columns=['Возрастная_категория_1ПК'],
               values=['ФИО_именительный'],
              aggfunc='count')

In [1874]:
finish_df2_4

                                                                  ФИО_именительный  \
Возрастная_категория_1ПК                                                     30-34
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен                         2.0
                                                   Муж                         1.0
Профессиональная переподготовка                    Жен                         1.0
                                                   Муж                         NaN

                                                                               \
Возрастная_категория_1ПК                                          35-39 40-44
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   6.0
                                                   Муж              NaN   NaN
Профессиональная переподготовка                    Жен              NaN   1.0
                                                   Муж              NaN   NaN

                                                                               \
Возрастная_категория_1ПК                                          45-49 50-54
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              4.0   3.0
                                                   Муж              2.0   NaN
Профессиональная переподготовка                    Жен              2.0   2.0
                                                   Муж              NaN   NaN


Возрастная_категория_1ПК                                          55-59 60-64
Дополнительная_профессиональная_программа_повыш... Пол_получателя
Повышение квалификации                             Жен              2.0   1.0
                                                   Муж              NaN   3.0
Профессиональная переподготовка                    Жен              1.0   NaN
                                                   Муж              NaN   2.0

In [1875]:
finish_df2_4.columns =finish_df2_4.columns.droplevel()
finish_df2_4.index = finish_df2_4.index.droplevel()

In [1876]:
finish_df2_4

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Пол_получателя
Жен                         2.0    2.0    6.0    4.0    3.0    2.0    1.0
Муж                         1.0    NaN    NaN    2.0    NaN    NaN    3.0
Жен                         1.0    NaN    1.0    2.0    2.0    1.0    NaN
Муж                         NaN    NaN    NaN    NaN    NaN    NaN    2.0

In [1877]:
finish_df2_4=pd.concat([df_2_4_all,finish_df2_4])

In [1878]:
finish_df2_4

Возрастная_категория_1ПК  30-34  35-39  40-44  45-49  50-54  55-59  60-64
Всего слушателей            4.0    2.0    7.0    8.0    5.0    3.0    6.0
Женщин Всего                3.0    2.0    7.0    6.0    5.0    3.0    1.0
Жен                         2.0    2.0    6.0    4.0    3.0    2.0    1.0
Муж                         1.0    NaN    NaN    2.0    NaN    NaN    3.0
Жен                         1.0    NaN    1.0    2.0    2.0    1.0    NaN
Муж                         NaN    NaN    NaN    NaN    NaN    NaN    2.0

In [1879]:
# Переименовываем индекс, чтобы было более понятно
finish_df2_4.index.name = 'Наименование показателей'
finish_df2_4.index= ['Численность слушателей Всего','из них Женщин','Повышение квалификации Женщины','Повышение квалификации Мужчины',
                     'Профессиональная переподготовка Женщины','Профессиональная переподготовка Мужчины',]

In [1880]:
finish_df2_4.to_excel('2.4.xlsx')

In [1881]:
finish_df2_4.index

Index(['Численность слушателей Всего', 'из них Женщин',
       'Повышение квалификации Женщины', 'Повышение квалификации Мужчины',
       'Профессиональная переподготовка Женщины',
       'Профессиональная переподготовка Мужчины'],
      dtype='object')

In [1882]:
#Сохраняем в лист Раздел 2.4
for r in dataframe_to_rows(finish_df2_4, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.4'].append(r)

In [1883]:
#Добавляем колонки

In [1884]:
#раздел 2.5 Инвалиды
df_dpo_2_5 = df_dpo.copy()
df_dpo_2_5['for_counting'] = 1
df_dpo_2_5 = df_dpo_2_5[df_dpo_2_5['Сведения_об_ограничении_возможностей_здоровья'] != 'нет ОВЗ']

In [1885]:
df_dpo_2_5

Empty DataFrame
Columns: [Порядковый_номер_группы, Вид_документа, Статус_документа, Подтверждение_утраты, Подтверждение_обмена, Подтверждение_уничтожения, Серия_документа, Номер_документа, Дата_выдачи_документа, Регистрационный_номер, Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка, Наименование_дополнительной_профессиональной_программы, Наименование_области_профессиональной_деятельности, Укрупненные_группы_специальностей, Наименование_квалификации_профессии_специальности, Уровень_образования_ВО_СПО, Фамилия_указанная_в_дипломе_о_ВО_или_СПО, Серия_документа_о_ВО_СПО, Номер_документа_о_ВО_СПО, Год_начала_обучения_для_документа_о_квалификации, Год_окончания_обучения_для_документа_о_квалификации, Срок_обучения_часов_для_документа_о_квалификации, Фамилия_получателя, Имя_получателя, Отчество_получателя, ФИО_именительный, ФИО_дательный, Дата_рождения_получателя, Пол_получателя, СНИЛС, Форма_обучения, Источник_финансирования_обучения, Форма_получения_образования_на_момент_прекращения_образовательных_отношений, Гражданство_получателя_код_страны_по_ОКСМ, Наименование_документа_об_образовании_оригинала, Серия_оригинала, Номер_оригинала, Регистрационный_N_оригинала, Дата_выдачи_оригинала, Фамилия_получателя_оригинала, Имя_получателя_оригинала, Отчество_получателя_оригинала, Номер_документа_для_изменения, Серия_паспорта_в_формате_1111, Номер_паспорта_в_формате_111111, Кем_выдан_паспорт, Дата_выдачи_паспорта, Место_работы_слушателя, Категория_слушателя, Является_ли_слушатель_руководителем, Сведения_об_ограничении_возможностей_здоровья, Период_обучения_в_формате_с_дата_начала_по_дата_окончания, База_обучения_подразделение_образовательная_организация, Источник_финансирования_индикаторы_физ_лицо_юр_лицо_бюдж_ассигнования_собственные_средства_ЦОПП, Индикатор, Наименование_заказчика, Стоимость_обучения_руб, Отметка_об_оплате_плюс_оплачено_минус_не_оплачено, Использование_сетевой_формы_обучения, Использование_ЭО_или_ДОТ, Модульная_программа_с_вариативным_выбором, Вид_экономической
деятельности_дополнительной_профессиональной_программы, Для_освоения_ДПП_требуется_наличие_ВО, Номер_приказа_о_зачислении, Номер_приказа_об_отчислении, Текущий_возраст, Возрастная_категория_1ПК, for_counting]
Index: []

[0 rows x 68 columns]

In [1886]:
df_2_5_all = df_dpo_2_5.groupby(['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка']).agg({'ФИО_именительный':'count'}).rename(columns={'ФИО_именительный':'Всего'}).swapaxes(1,0)

In [1887]:
finish_df2_5=pd.pivot_table(df_dpo_2_5,
              index=['Сведения_об_ограничении_возможностей_здоровья'],
              columns=['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1888]:
finish_df2_5

Empty DataFrame
Columns: []
Index: []

In [1889]:
finish_df2_5.columns = finish_df2_5.columns.droplevel(0)

In [1890]:
# Соединяем
finish_df2_5 = pd.concat([df_2_5_all,finish_df2_5])

In [1891]:
finish_df2_5

Empty DataFrame
Columns: []
Index: [Всего]

In [1892]:
# заполняем пропуски нулями
finish_df2_5.fillna(0,inplace=True)

In [1893]:
# Необходимо как то проверять наличие колонок, ведь не факт что в таблице будет повышение квалификации или проф подготовка
#создаем колонку всего

#Проверяем количество колонок
# Заполняем нулями чтобы корректно слаживалось
if len(finish_df2_5.columns) == 1:
    finish_df2_5['Всего слушателей по всем категориям'] = finish_df2_5.iloc[:,0]
elif len(finish_df2_5.columns):
    finish_df2_5['Всего слушателей по всем категориям'] = finish_df2_5.iloc[:,0] + finish_df2_5.iloc[:,1]

In [1894]:
finish_df2_5.index

Index(['Всего'], dtype='object')

In [1895]:
finish_df2_5

Empty DataFrame
Columns: []
Index: [Всего]

In [1896]:
# Считаем колонку с женщинами инвалидами
df_2_5_women =df_dpo_2_5[df_dpo_2_5['Пол_получателя']=='Жен'].groupby('Сведения_об_ограничении_возможностей_здоровья').agg({'for_counting':'sum'})

In [1897]:
df_2_5_women.columns =['Количество женщин']

In [1898]:
sum_woman = df_2_5_women['Количество женщин'].sum()

if sum_woman == 0:
    # т.е если женщин инвалидов нет, то создаем датафрейм с пустыми значениями
    df_2_5_women_all = pd.DataFrame(data=[np.NaN,np.NaN,np.NaN],index=['Всего','инвалид','Лицо с ОВЗ'],columns=['Количество женщин'])
else:
    # в противном случае, считаем общее количество женщин-инвалидов. Создаем маленький датафрейм 
    df_2_5_women_all = pd.DataFrame(data=sum_woman,index=['Всего женщин инвалидов'],columns=['Количество женщин'])
    # Объединяем столбы с женщинами инвалидами
    df_2_5_women_all = pd.concat([df_2_5_women_all,df_2_5_women])

In [1899]:
finish_df2_5 = finish_df2_5.astype(float)

In [1900]:
finish_df2_5 = finish_df2_5.replace(0.0,np.NaN)

In [1901]:
finish_df2_5

Empty DataFrame
Columns: []
Index: [Всего]

In [1902]:
finish_df2_5.to_excel('2.5.xlsx')

In [1903]:
#Сохраняем в лист Раздел 2.5
for r in dataframe_to_rows(finish_df2_5, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.5'].append(r)

In [1904]:
#Добавляем в раздел 2.5 информацию о женщинах
for r in dataframe_to_rows(df_2_5_women_all, index=True, header=True):
    if len(r) != 1:
        wb['Раздел 2.5'].append(r)

In [1905]:
# раздел 2.1  Сведения о численности слушателей обученных по доп профессиональным программам
df_2_1 = df_dpo.copy()
# Создаем колонку для удобства подсчета
df_2_1['for_counting'] = 1.0

In [1906]:
df_2_1_pkpo = pd.pivot_table(df_2_1,index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1907]:
df_2_1_pkpo

                                                                                                                                       for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Повышение квалификации
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       17.0
                                                                                         руководитель                                           1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0
                                                                                         руководитель                                           1.0
студент СПО                                        Общеобразовательная организация       руководитель                                           1.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Профессиональная переподготовка
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                 NaN
                                                   Дополнительное образование            не руководитель                                                 NaN
                                                   Общеобразовательная организация       не руководитель                                                 8.0
                                                                                         руководитель                                                    1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
студент СПО                                        Общеобразовательная организация       руководитель                                                    NaN

In [1908]:
#Удаляем мультиколонку for counting
df_2_1_pkpo.columns = df_2_1_pkpo.columns.droplevel()

In [1909]:
# заполняем NaN нулями чтобы просуммировать
df_2_1_pkpo.fillna(0.0,inplace=True)

In [1910]:
# Считаем в зависимости от количества колонок
if len(df_2_1_pkpo.columns) == 1:
    df_2_1_pkpo['Всего слушателей_temp']= df_2_1_pkpo.iloc[:,0]
else:
    df_2_1_pkpo['Всего слушателей_temp'] = df_2_1_pkpo['Повышение квалификации'] + df_2_1_pkpo['Профессиональная переподготовка']

In [1911]:
df_2_1_pkpo

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Повышение квалификации  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                         2.0
                                                                                         руководитель                                            1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                         2.0
                                                   Дополнительное образование            не руководитель                                         1.0
                                                   Общеобразовательная организация       не руководитель                                        17.0
                                                                                         руководитель                                            1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                         1.0
                                                                                         руководитель                                            1.0
студент СПО                                        Общеобразовательная организация       руководитель                                            1.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Профессиональная переподготовка  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                  0.0
                                                                                         руководитель                                                     0.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                  0.0
                                                   Дополнительное образование            не руководитель                                                  0.0
                                                   Общеобразовательная организация       не руководитель                                                  8.0
                                                                                         руководитель                                                     1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                  0.0
                                                                                         руководитель                                                     0.0
студент СПО                                        Общеобразовательная организация       руководитель                                                     0.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Всего слушателей_temp
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       25.0
                                                                                         руководитель                                           2.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0
                                                                                         руководитель                                           1.0
студент СПО                                        Общеобразовательная организация       руководитель                                           1.0

In [1912]:
# Перемещаем колонку Всего слушателей
df_2_1_pkpo.insert(0,'Всего слушателей',df_2_1_pkpo['Всего слушателей_temp'])

In [1913]:
# Удаляем временную колонку
df_2_1_pkpo.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [1914]:
df_2_1_pkpo=df_2_1_pkpo.reset_index()

In [1915]:
wb['Раздел 2.1'][f'A1'] = 'Слушателей обученных по дополнительным профессиональным программам'
wb['Раздел 2.1'][f'A1'].font = font_name_table

In [1916]:
#Сохраняем датафрейм с подсчетом по пк и пп в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_pkpo, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [1917]:
# Считаем слушателей по модульным программам с вариативным выбором
df_2_1_module_pkpo_yes = df_2_1[df_2_1['Модульная_программа_с_вариативным_выбором'] == 'да']

In [1918]:
df_2_1_module_pkpo = pd.pivot_table(df_2_1_module_pkpo_yes,
                                    index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1919]:
# Удаляем мультиколонку
df_2_1_module_pkpo.columns = df_2_1_module_pkpo.columns.droplevel()

In [1920]:
# Заполняем NaN
df_2_1_module_pkpo.fillna(0.0,inplace=True)

In [1921]:
# Считаем в зависимости от количества колонок
if len(df_2_1_module_pkpo.columns) == 1:
    df_2_1_module_pkpo['Всего слушателей_temp']= df_2_1_module_pkpo.iloc[:,0]
else:
    df_2_1_module_pkpo['Всего слушателей_temp'] = df_2_1_module_pkpo['Повышение квалификации'] + df_2_1_module_pkpo['Профессиональная переподготовка']

In [1922]:
df_2_1_module_pkpo

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Повышение квалификации  \
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                         2.0
                                                                                         руководитель                                            1.0

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                              Всего слушателей_temp
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        2.0
                                                                                         руководитель                                           1.0

In [1923]:
# перемещаем колонку всего слушателй_temp
df_2_1_module_pkpo.insert(0,'Всего слушателей',df_2_1_module_pkpo['Всего слушателей_temp'])

In [1924]:
# Удаляем лишнюю колонку
df_2_1_module_pkpo.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [1925]:
df_2_1_module_pkpo = df_2_1_module_pkpo.reset_index()

In [1926]:
# получаем максимальную строку для модульной части
max_row_module = wb['Раздел 2.1'].max_row

In [1927]:
wb['Раздел 2.1'][f'A{max_row_module+2}'] = 'Обучено слушателей по модульным программам с вариативным выбором'
wb['Раздел 2.1'][f'A{max_row_module+2}'].font = font_name_table

In [1928]:
#Сохраняем датафрейм с подсчетом слушателей модульных программ  пк и пп  в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_module_pkpo, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [1929]:
# Создаем промежуток
max_row_women = wb['Раздел 2.1'].max_row

In [1930]:
wb['Раздел 2.1'][f'A{max_row_women+2}'] = 'Обучено женщин слушателей'
wb['Раздел 2.1'][f'A{max_row_women+2}'].font = font_name_table

In [1931]:
# Считаем женщин
df_2_1_women_yes = df_2_1[df_2_1['Пол_получателя'] == 'Жен']

In [1932]:
df_2_1_women = pd.pivot_table(df_2_1_women_yes,
                                    index=['Категория_слушателя','Место_работы_слушателя','Является_ли_слушатель_руководителем'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1933]:
df_2_1_women

                                                                                                                                       for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Повышение квалификации
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                        1.0
                                                                                         руководитель                                           1.0
работник образовательной организации               Государственная/бюджетная организация не руководитель                                        2.0
                                                   Дополнительное образование            не руководитель                                        1.0
                                                   Общеобразовательная организация       не руководитель                                       14.0
                                                                                         руководитель                                           1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                        1.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка                             Профессиональная переподготовка
Категория_слушателя                                Место_работы_слушателя                Является_ли_слушатель_руководителем
лицо, замещающее государственную должность или ... Государственная/бюджетная организация не руководитель                                                 NaN
                                                                                         руководитель                                                    NaN
работник образовательной организации               Государственная/бюджетная организация не руководитель                                                 NaN
                                                   Дополнительное образование            не руководитель                                                 NaN
                                                   Общеобразовательная организация       не руководитель                                                 6.0
                                                                                         руководитель                                                    1.0
студент ВО                                         Общеобразовательная организация       не руководитель                                                 NaN

In [1934]:

# Удаляем мультиколонку
df_2_1_women.columns = df_2_1_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_women.fillna(0.0,inplace=True)

In [1935]:
# Считаем в зависимости от количества колонок
if len(df_2_1_women.columns) == 1:
    df_2_1_women['Всего слушателей_temp']= df_2_1_women.iloc[:,0]
else:
    df_2_1_women['Всего слушателей_temp'] = df_2_1_women['Повышение квалификации'] + df_2_1_women['Профессиональная переподготовка']

In [1936]:
# перемещаем колонку всего слушателй_temp
df_2_1_women.insert(0,'Всего женщин-слушателей',df_2_1_women['Всего слушателей_temp'])

In [1937]:
# Удаляем лишнюю колонку
df_2_1_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)

In [1938]:
df_2_1_women = df_2_1_women.reset_index()

In [1939]:
#Сохраняем датафрейм с подсчетом женщин  по пк и пп в лист Раздел 2.1
for r in dataframe_to_rows(df_2_1_women, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1'].append(r)

In [1940]:
# Создаем датафрейм для строк 28 и 29 по обычным программам

In [1941]:
# Создаем список категорий слушателей которых нужно посчитать
lst_cat = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','другое']

In [1942]:

df_2_1_28_29_base = df_2_1.loc[df_2_1['Категория_слушателя'].isin(lst_cat)]

In [1943]:
df_2_1_28_29 = pd.pivot_table(df_2_1_28_29_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1944]:
df_2_1_28_29

                                                                                                           for_counting  \
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Уровень_образования_ВО_СПО
Высшее образование                                                                                                 13.0
Среднее профессиональное образование                                                                               11.0


Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Профессиональная переподготовка
Уровень_образования_ВО_СПО
Высшее образование                                                                                                           6.0
Среднее профессиональное образование                                                                                         3.0

In [1945]:

# Удаляем мультиколонку
df_2_1_28_29.columns = df_2_1_28_29.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29.columns) == 1:
    df_2_1_28_29['Всего слушателей_temp']= df_2_1_28_29.iloc[:,0]
else:
    df_2_1_28_29['Всего слушателей_temp'] = df_2_1_28_29['Повышение квалификации'] + df_2_1_28_29['Профессиональная переподготовка']

In [1946]:
# перемещаем колонку всего слушателй_temp
df_2_1_28_29.insert(0,'Всего слушателей',df_2_1_28_29['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29 = df_2_1_28_29.reset_index()

In [1947]:
#Добавляем заголовок
wb['Раздел 2.1 Строки 28,29,30'][f'A1'] = 'Образование слушателей обученных по дополнительным профессиональным программам'
wb['Раздел 2.1 Строки 28,29,30'][f'A1'].font = font_name_table

In [1948]:
for r in dataframe_to_rows(df_2_1_28_29, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1949]:
# # Создаем датафрейм для строк 28 и 29 по модульным программам с вариативным выбором
df_2_1_28_29_module_base= df_2_1_28_29_base[df_2_1_28_29_base['Модульная_программа_с_вариативным_выбором'] == 'да']

In [1950]:
df_2_1_28_29_module = pd.pivot_table(df_2_1_28_29_module_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1951]:

# Удаляем мультиколонку
df_2_1_28_29_module.columns = df_2_1_28_29_module.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29_module.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29_module.columns) == 1:
    df_2_1_28_29_module['Всего слушателей_temp']= df_2_1_28_29_module.iloc[:,0]
else:
    df_2_1_28_29_module['Всего слушателей_temp'] = df_2_1_28_29_module['Повышение квалификации'] + df_2_1_28_29_module['Профессиональная переподготовка']
# перемещаем колонку всего слушателй_temp
df_2_1_28_29_module.insert(0,'Всего слушателей',df_2_1_28_29_module['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29_module.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29_module = df_2_1_28_29_module.reset_index()

In [1952]:
df_2_1_28_29_module

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Уровень_образования_ВО_СПО,Всего слушателей,Повышение квалификации
0,Высшее образование,1.0,1.0
1,Среднее профессиональное образование,2.0,2.0

In [1953]:
# Создаем промежуток
max_row_28_29_module = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_module+2}'] = 'Образование слушателей обученных по модульным программам с вариативным выбором'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_module+2}'].font = font_name_table

In [1954]:
for r in dataframe_to_rows(df_2_1_28_29_module, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1955]:
# Создаем датафрейм 28 и 29 для женщин
df_2_1_28_29_women_base = df_2_1_28_29_base[df_2_1_28_29_base['Пол_получателя'] =='Жен']

In [1956]:
df_2_1_28_29_women = pd.pivot_table(df_2_1_28_29_women_base,index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1957]:

# Удаляем мультиколонку
df_2_1_28_29_women.columns = df_2_1_28_29_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_28_29_women.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_28_29_women.columns) == 1:
    df_2_1_28_29_women['Всего слушателей_temp']= df_2_1_28_29_women.iloc[:,0]
else:
    df_2_1_28_29_women['Всего слушателей_temp'] = df_2_1_28_29_women['Повышение квалификации'] + df_2_1_28_29_women['Профессиональная переподготовка']
# перемещаем колонку всего слушателй_temp
df_2_1_28_29_women.insert(0,'Всего женщин-слушателей',df_2_1_28_29_women['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_28_29_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_28_29_women = df_2_1_28_29_women.reset_index()

In [1958]:
df_2_1_28_29_women

Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка,Уровень_образования_ВО_СПО,Всего женщин-слушателей,Повышение квалификации,Профессиональная переподготовка
0,Высшее образование,16.0,11.0,5.0
1,Среднее профессиональное образование,11.0,9.0,2.0

In [1959]:
# Создаем промежуток
max_row_28_29_women = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_women+2}'] = 'Образование женщин обученных по дополнительным профессиональным программам'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_28_29_women+2}'].font = font_name_table

In [1960]:
for r in dataframe_to_rows(df_2_1_28_29_women, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1961]:
# Создаем датафреймы для строки 30
# Создаем список категорий слушателей которых нужно посчитать
lst_cat_30 = ['работник предприятия или организации','работник образовательной организации','лицо, замещающее государственную должность или должность ГГС'
           ,'лицо,замещающее муниципальную должность или должность муниципальной службы','лицо,уволенное с военной службы','незанятое лицо по направлению СЗ','студент ВО','другое']


df_2_1_30_base = df_2_1.loc[df_2_1['Категория_слушателя'].isin(lst_cat_30)]

In [1962]:
df_2_1_30_base = df_2_1_30_base[df_2_1_30_base['Для_освоения_ДПП_требуется_наличие_ВО'] == 'требуется ВО']

In [1963]:
df_2_1_30 = pd.pivot_table(df_2_1_30_base, index=['Уровень_образования_ВО_СПО'],
              columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1964]:
# Удаляем мультиколонку
df_2_1_30.columns = df_2_1_30.columns.droplevel()
True
# Заполняем NaN
df_2_1_30.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30.columns) == 1:
    df_2_1_30['Всего слушателей_temp']= df_2_1_30.iloc[:,0]
else:
    df_2_1_30['Всего слушателей_temp'] = df_2_1_30['Повышение квалификации'] + df_2_1_30['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30.insert(0,'Всего слушателей',df_2_1_30['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30 = df_2_1_30.reset_index()

In [1965]:
# Создаем промежуток
max_row_30 = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30+5}'] = 'Всего слушателей обученных по программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30+5}'].font = font_name_table

In [1966]:
for r in dataframe_to_rows(df_2_1_30, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1967]:
# создаем датафрейм строки 30 для модульных программ
df_2_1_30_module_base = df_2_1_30_base[df_2_1_30_base['Модульная_программа_с_вариативным_выбором']=='да']

In [1968]:
df_2_1_30_module = pd.pivot_table(df_2_1_30_module_base,index=['Уровень_образования_ВО_СПО'],
                                               columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1969]:
df_2_1_30_module

                                                                                                           for_counting
Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка Повышение квалификации
Уровень_образования_ВО_СПО
Среднее профессиональное образование                                                                                1.0

In [1970]:
# Удаляем мультиколонку
df_2_1_30_module.columns = df_2_1_30_module.columns.droplevel()
True
# Заполняем NaN
df_2_1_30_module.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30_module.columns) == 1:
    df_2_1_30_module['Всего слушателей_temp']= df_2_1_30_module.iloc[:,0]
else:
    df_2_1_30_module['Всего слушателей_temp'] = df_2_1_30_module['Повышение квалификации'] + df_2_1_30_module['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30_module.insert(0,'Всего слушателей',df_2_1_30_module['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30_module.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30_module = df_2_1_30_module.reset_index()

In [1971]:
# Создаем промежуток
max_row_30_module = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_module+2}'] = 'Всего слушателей обученных по модульным программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_module+2}'].font = font_name_table

In [1972]:
for r in dataframe_to_rows(df_2_1_30_module, index=False, header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1973]:
# создаем датафрейм женщин по строке 30
df_2_1_30_women_base =df_2_1_30_base[df_2_1_30_base['Пол_получателя'] == 'Жен']

In [1974]:
df_2_1_30_women = pd.pivot_table(df_2_1_30_women_base,index=['Уровень_образования_ВО_СПО'],
                                               columns = ['Дополнительная_профессиональная_программа_повышение_квалификации_профессиональная_переподготовка'],
              values=['for_counting'],
              aggfunc='sum')

In [1975]:
# Удаляем мультиколонку
df_2_1_30_women.columns = df_2_1_30_women.columns.droplevel()
True
# Заполняем NaN
df_2_1_30_women.fillna(0.0,inplace=True)
# Считаем в зависимости от количества колонок
if len(df_2_1_30_women.columns) == 1:
    df_2_1_30_women['Всего слушателей_temp']= df_2_1_30_women.iloc[:,0]
else:
    df_2_1_30_women['Всего слушателей_temp'] = df_2_1_30_women['Повышение квалификации'] + df_2_1_30_women['Профессиональная переподготовка']

# перемещаем колонку всего слушателй_temp
df_2_1_30_women.insert(0,'Всего женщин-слушателей',df_2_1_30_women['Всего слушателей_temp'])
# Удаляем лишнюю колонку
df_2_1_30_women.drop(columns='Всего слушателей_temp',axis=1,inplace=True)
df_2_1_30_women = df_2_1_30_women.reset_index()

In [1976]:
# Создаем промежуток
max_row_30_women = wb['Раздел 2.1 Строки 28,29,30'].max_row
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_women+2}'] = 'Всего женщин обученных по  программам для освоения которых требуется ВО'
wb['Раздел 2.1 Строки 28,29,30'][f'A{max_row_30_women+2}'].font = font_name_table

In [1977]:
for r in dataframe_to_rows(df_2_1_30_women,index =False,header=True):
    if len(r) != 1:
        wb['Раздел 2.1 Строки 28,29,30'].append(r)

In [1978]:
# Устанавливаем размер колонок раздела 2.1 строки 28 и 29
wb['Раздел 2.1 Строки 28,29,30'].column_dimensions['A'].width = 50

In [1979]:
# Устанавливаем размер колонок раздела 2.1
wb['Раздел 2.1'].column_dimensions['A'].width = 50
wb['Раздел 2.1'].column_dimensions['B'].width = 50
wb['Раздел 2.1'].column_dimensions['C'].width = 30
wb['Раздел 2.1'].column_dimensions['D'].width = 30
wb['Раздел 2.1'].column_dimensions['E'].width = 30
wb['Раздел 2.1'].column_dimensions['F'].width = 30

In [1980]:
 # Получаем текущее время для того чтобы использовать в названии
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)
# Сохраняем итоговый файл
wb.save(f'{path_to_end_folder_report}/Часть отчета 1-ПК.xlsx {current_time}.xlsx')